@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
}
/* ---------전체 ----------*/
body {
  font-size: 16px;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

/* ========메인========== */

.circleParent {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 30px;
  /* font-size: 18px; */
}

.circle {
  width: 52px;
  height: 52px;
  position: absolute;
  align-items: center;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  transform: translateX(-50%);
  font-family: "Noto Sans KR", sans-serif;
}

.circle1 {
  left: 18%;
  background-color: rgb(255, 229, 81, 1);
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.circle2 {
  left: 50%;
  background-color: rgba(255, 246, 198);
  color: gray;
}
.circle3 {
  left: 82%;
  background-color: rgb(255, 246, 198);
  color: gray;
}

.Inline {
  width: 60%;
  height: 1px;
  top: 25%;
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}

.circleTextMain {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  grid-template-rows: 100%;
  top: -40px;
  font-size: 14px;
  /* font-family: Noto Sans CJK KR Medium; */
  font-family: "Noto Sans CJK KR Medium";
}

.circleText1 {
  grid-column: 1;
  width: auto;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.circleText2 {
  grid-column: 2;
  width: auto;

  color: gray;
}
.circleText3 {
  grid-column: 3;
  width: auto;
  color: gray;
}

/*====정보 입력 칸====*/

.sectionBox {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  font-weight: 700;
  margin: 30px 0 41px 0;
}
input[type="submit"] {
  width: 60px;
  height: 45px;
  position: absolute;
  left: 280px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input {
  border-radius: var(--border-radius);
  border-style: none;
  background-color: #eeeeee;
  height: 45px;
  position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding-left: 20px;
}

::placeholder {
  color: rgb(167, 167, 167);
  font-size: 12px;
}

.text {
  position: relative;
  font-size: 16px;
  margin-bottom: 10px;
}
.numParent,
.pwParent,
.PhoneNumParent,
.nickNameParent {
  margin: 14px 0px;
}

.input1,
.input3,
.input4 {
  width: 295px;
}
.input7,
.input9,
.input2,
.input5,
.input6 {
  width: 250px;
}

.next {
  border-radius: var(--border-radius);
  background-color: rgb(34, 146, 249);
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 335px;

  height: 42px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.line {
  position: absolute;
  width: 295px;
  height: 0px;
  top: 296px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #c6c6c6;
}

.line1 {
  position: relative;
  width: 295px;
  height: 0px;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  border: 1px solid #c6c6c6;
  margin-bottom: 40px;
}

.check {
  font-size: 14px;
}
