<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>

<body>
    <a href="../admin">관리자 페이지로</a>

    <h1>Restaurant</h1>

    <hr>

    <table>
        <th>id</th>
        <th>category_id</th>
        <th>name</th>
        <th>img</th>
        <th>intro</th>
        <th>address</th>
        <th>operating_time</th>
        <th>contact_number</th>
        <th>liked_count</th>
        <th>rated_count</th>
        <!-- <tr th:each="r : ${list}"></tr>
            <td th:text="${r.id}">id</td>
            <td th:text="${r.categoryId}">category_id</td>
            <td th:text="${r.name}">name</td>
            <td th:text="${r.img}">img</td>
            <td th:text="${r.intro}">intro</td>
            <td th:text="${r.address}">address</td>
            <td th:text="${r.operatingTime}">operating_time</td>
            <td th:text="${r.contactNumber}">contact_number</td>
            <td th:text="${r.likedCount}">liked_count</td>
            <td th:text="${r.ratedCount}">rated_count</td>
            <td><button href="restaurant/update" th:value="${r.id}" name="id">EDIT</button></td>
            <td><button href="restaurant/delete" th:value="${r.id}" name="id">DEL</button></td> -->
    </table>
    <p></p>
    <a href="restaurant/add"><button>추가</button></a>


</body>

</html>