<!DOCTYPE html>
<html lang="en"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <th:block th:if="${userName != null}">
      Logged in as: <span id="user" th:text="${userName}"></span>
      <a href="/logout">Logout</a>
      <!-- <a href="/logout" class="btn btn-info active" role="button">Logout</a> -->
    </th:block>
    <a href="http://localhost:8080/oauth2/authorize/google">
      google-login
    </a><p></p>
    <a href="http://localhost:8080/oauth2/authorize/naver">
      naver-login
    </a><p></p>
    <a href="http://localhost:8080/oauth2/authorize/kakao">
      kakao-login
    </a>

</body>
</html>