<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/sign-up/complete.css"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
    <!-- TODO 홈버튼 텍스트 크기 줄이기  (18로 수정 완)-->
<body>
    <header>
        <div class="header-side left">
            <a><button class="d-none"></button></a>
          </div>
          <h1 class="header-icon logo"></h1>
          <div class="header-side right">
            <a><button class="d-none"></button></a>
          </div>
    </header>

    <main>
        <div class = "imageP">
            <span class = image2></span>
        </div>

        <a href="/index"><button class="btn"> 홈으로</button></a>

    </main>
<body>
    
</body>
</html>