<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/sign-up/form.css" />
  <link rel="stylesheet" href="/css/common/style.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/component.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script src="/js/user/sign-up/form.js" defer></script>

</head>


<!-- FIXME : input box 입력값 left padding -> 10정도? -->


<body>
  <header>
    <div class="header-side left">
      <a onclick="history.back()"><button class="header-icon back"></button></a>
    </div>
    <h1 class="header-icon logo"></h1>
    <div class="header-side right">
      <a href="/"><button class="header-icon home"></button></a>
    </div>
  </header>

  <main>
    <div class="circleParent">
      <span class="circle1 circle">1</span>
      <span class="circle2 circle">2</span>
      <span class="circle3 circle">3</span>
      <span class="Inline"></span>
    </div>

    <div class="circleTextMain">
      <div class="circleText1 circleText">약관 동의</div>
      <div class="circleText2 circleText">정보 입력</div>
      <div class="circleText3 circleText">가입 완료</div>
    </div>


    <!--------------------회 원 정 보 입 력 란--------------------------------------------------------->

    <form action="/user/sign-up/form" method="POST" id="form__wrap">
      <section class="sectionBox">
        <div class="nameParent">
          <div class="nameText text">이름</div>
          <div>
            <input name="username" type="text" class="input input1" placeholder="* 성과 이름 입력"   />
          </div>
        </div>

        <div class="nickNameParent">
          <div class="nickNameText text"></div>
          <div class="nick">
            <label for="nickname">닉네임</label>
              <input id="nickname" name="nickname" type="text" class="input input2" placeholder="* 8자 이내 입력"   />
              <div id="check"></div>
          </div>
        </div>
        <div class="passwordParent">
          <div class="passwordText text">비밀번호</div>
          <input name="password" type="password" class="input input3" id="password" placeholder="* 영문, 숫자를 포함하여 8자리 이상 입력"   />
        </div>
        <div class="pwParent">
          <div class="pwText text">비밀번호 확인</div>
          <input type="password" class="input input4" id="password1" placeholder=" 비밀번호 확인"   />
          <!-- <button class = "PwdCheck" id="passwordCheckButton">비밀번호 확인</button> -->
          <div id="passwordCheck"></div>
        </div>
        <div class="emailParent">
          <div class="emailText text"></div>
          <div class="email">
            <label for="email" id="mailTxt">이메일</label>
            <input name="email" type="email" id="email" class="input input5" placeholder="  * 이메일  주소  입력"    />
            <button type="button" id="checkEmail">인증 요청</button>
            <div id="emailCheck"></div>
          </div>
          <div class="numParent">
            <label for="memailconfirm" id="memailconfirmTxt">인증 번호 입력</label>
            <input type="text" class="input input9" id="memailconfirm"   />
          </div>
        </div>
      </section>

      <a href="user/sign-up/complete">
      <button type="submit" class="next" disabled>가입</button>
      </a>

    </form>

  </main>
</body>

</html>