<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/sign-up/form.css" />
  <link rel="stylesheet" href="/css/common/style.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/component.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script src="/js/user/sign-up/form.js"></script>
</head>

<!-- FIXME input box 입력값 left padding -> 10정도? -->
<!-- FIXME 휴대폰 번호 삭제 -->
<!-- TODO 생년월일, 성별 추가 -->
<!-- TODO css 손봐야 할듯 -->

<body>
  <header>
    <div class="header-side left">
      <a onclick="history.back()"><button class="header-icon back"></button></a>
    </div>
    <h1 class="header-icon logo"></h1>
    <div class="header-side right">
      <a href="/"><button class="header-icon home"></button></a>
    </div>
  </header>

  <main>
    <div class="circleParent">
      <span class="circle1 circle">1</span>
      <span class="circle2 circle">2</span>
      <span class="circle3 circle">3</span>
      <span class="Inline"></span>
    </div>

    <div class="circleTextMain">
      <div class="circleText1 circleText">약관 동의</div>
      <div class="circleText2 circleText">정보 입력</div>
      <div class="circleText3 circleText">가입 완료</div>
    </div>


    <!--------------------회 원 정 보 입 력 란--------------------------------------------------------->

    <form action="form" method="post">
      <section class="sectionBox">
        <div class="nameParent">
          <div class="nameText text">이름</div>
          <div>
            <input name="username" type="text" class="input1" placeholder="* 성과 이름 입력" required />
          </div>
        </div>

        <div class="nickNameParent">
          <div class="nickNameText text">닉네임</div>
          <div class="nick">
            <input name="nickname" type="text" class="input2" placeholder="* 8자 이내 입력" required />
            <input type="submit" value="중복 확인" />
          </div>
        </div>
        <div class="passwordParent">
          <div class="passwordText text">비밀번호</div>
          <input name="password" type="password" class="input3" id="password" placeholder="* 영문, 숫자를 포함하여 8자리 이상 입력" required />
        </div>
        <div class="pwParent">
          <div class="pwText text">비밀번호 확인</div>
          <input type="password" class="input4" id="password1" placeholder=" 비밀번호 확인" required />
          <!-- <button class = "PwdCheck" id="passwordCheckButton">비밀번호 확인</button> -->
          <div id="passwordCheck"></div>
        </div>
        <div class="emailParent">
          <div class="emailText text">이메일</div>
          <div class="email">
            <input name="email" type="email" class="input5" placeholder="  * 이메일  주소  입력" id="email" required />
            <input type="submit" value="인증 요청" />
            <div id="emailCheck"></div>

          </div>
          <div class="numParent">
            <div class="numText text">인증 번호 입력</div>
            <input type="text" class="input9" required />
            <input type="submit" value="확 인" />
          </div>
        </div>
        <div class="PhoneNumParent">
          <div class="phoneText text">휴대폰 번호</div>
          <div class="phone">
            <input name="phoneNumber" type="text" class="input6" id="phone" maxlength="13" required />
            <input type="submit" value="인증 요청" />
            <div id="numberCheck"></div>
          </div>
        </div>
        <div class="numParent">
          <div class="numText text">인증 번호 입력</div>
          <input type="text" class="input7" required />
          <input type="submit" value="확 인" />
        </div>
      </section>

      <a href="sign-up/complete">
        <button class="next">가입</button>
      </a>
    </form>
  </main>
</body>

</html>