<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/user/my-page/edit-info.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/style.css">
    
    <title>가입 정보</title>
</head>
<body>
    <header>
        <div class="header-side left">
            <a href="/user/my-page"> <img class="header-icon back" src="" alt=""></a>
        </div>
        <div class="header-icon logo">
            <img src="/assets/logo.svg" alt="">
        </div>
        <div class="header-side right">
            <a href="/"> <img class="userBtn-img" src="/images/icons/햄버거Btn.svg" alt=""></a>
        </div>
    </header> 
    <main>  
     
        <div class="edit-user-total">   <!---TODO 회원 정보를 담아 입력되야함 -->
            <div class="edit-user-wrapper">
                <!-------------- 닉네임 ---------------------->
                <div class="nickname"><ul>닉네임</ul></div>
                <div class="info-box">
                    <div class ="box"><li>메추리</li></div>
                    <!-- TODO 폼태그 url -> a태그에 href에 넣기 -->
                    <form action="my-page/edit-info" method="post">
                    <a class="change-btn" href="#">변경</a>
                    </form>
                </div>
            </div>
                <!-------------- 이메일주소 ---------------------->
            <div class="edit-user-wrapper">
                <div><ul>이메일 주소</ul></div> 
                <div class="info-box">
                    <div class ="box"><li>admin@mechuri.com</li></div>
                    <form action="my-page/email" method="post">
                        <a class="change-btn" href="edit-info/email">변경</a>
                    </form>
                </div>
                
            </div>
            <!-------------- 휴대폰 번호 ---------------------->
            <div class="edit-user-wrapper">
                <div><ul>휴대폰 번호</ul></div>
                <div class="info-box">
                    <div class ="box"><li>010-0000-0000</li></div>
                    <form action="my-page/edit-info/phone" method="post">
                    <a class="change-btn" href="edit-info/phone">변경</a>
                    </form>
                </div>
            </div>

            <!-------------- 비밀번호 ---------------------->
            <div class="change-pwd-wrapper">
                <span class="change-pwd-text">비밀번호</span>
                <form action="my-page/edit-info/pwd" method="post">
                <a class="pwd-change-btn" href="edit-info/pwd">변경</a>
                </form>
            </div>
        </div>

        <div class="withdraw-btn"><a href="edit-info/withdraw">탈퇴하기</a></div>
</body>
</html>