<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/user/my-page/like-list.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <title>찜한목록</title>
</head>
<body>
    <header>
        <div class="header-side left">
            <a onclick="history.back()"><button class="header-icon back">버튼</button></a>
        </div>
            <a href ="/"><h1 class="header-icon logo">로고</h1></a>
        <div class="header-side right">
            <a href="/user/my-page"> <button class="header-icon menu">메뉴</button></a>
        </div>
    </header> 
    <div class="btnarea">
        <div class="twoBtns">
          <div class="btnspar">
            <button class="btn1 btn">
              <span><a href="like-list">찜한 목록</a></span>
            </button>
            <button class="btn2 btn">
              <span><a href="rate-list">평가 목록</a></span>
            </button>
          </div>
        </div>
      </div>

    <main>  
        <section class="like-list-section">
            <h1 class="d-none">찜 목록</h1>
            <div class="like-list">
                <section class="item" th:each="r : ${list}">
                    <div class="img-wrap">
                        <img src="/images/foods/짜장상회2.jpg" th:src = "@{/images/foods/{img}(img = ${r.img})}" alt="">
                    </div>
                    <div class="text-wrap">
                        <h1 th:text="${r.restaurantName}">짜장상회</h1>
                        <p>평균 가격 &nbsp;<span th:text="${r.avgPrice}">6,000</span>원</p>
                        <p>가성비 &nbsp;<span th:text="${r.value}"></span>%</p>
                    </div>
                    <button class="like text-hidden">좋아요</button>
                </section>
            </div>
        </section>
    </main>
</body>
</html>