<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/my-page/rate-list.css"/>
  <link rel="stylesheet" href="/css/common/style.css" />
  <link rel="stylesheet" href="/css/common/component.css" />
  <link rel="stylesheet" href="/css/common/restaurant.css" />
  <link rel="stylesheet" href="/css/common/header.css" />


</head>
<body>
<header>
  <div class="header-side left">
    <a onclick = "history.back()"><button class="header-icon back">버튼</button></a>
  </div>
    <a href ="/"><h1 class="header-icon logo">로고</h1></a>
  <div class="header-side right">
    <!-- FIXME 홈버튼 -> 햄버거로 변경 -->
    <a href="/"><button class="header-icon home">버튼</button></a>
  </div>
</header>

<div class="btnarea">
  <div class="twoBtns">
    <div class="btnspar">
      <button class="btn1 btn">
        <span><a href="like-list">찜한 목록</a></span>
      </button>
      <button class="btn2 btn">
        <span><a href="rate-list">평가 목록</a></span>
      </button>
    </div>
  </div>
</div>

<main>
  <section class="mainInfo">
    <div class="foodList">
      <div class="adjImg1 adji">
        <div class="foodImg1 FI" th:src="@{images/foods/{img}(img=${id})}"></div>
        <div class="Texts" th:each="list:${list}">
          <p th:text="${list.restaurantName}">짜장 상회</p>
          <p th:text="${list.menuName}">짬뽕</p>
          <p th:text="${list.ratedPrice}">6,000원</p>
        </div>
      </div>
      <div class="adjImg1 adji">
        <div class="foodImg1 FI" th:src="@{images/foods/{img}(img=${id})}"></div>
        <div class="Texts" th:each="list:${list}">
          <p th:text="${list.restaurantName}">짜장 상회</p>
          <p th:text="${list.menuName}">짬뽕</p>
          <p th:text="${list.ratedPrice}">6,000원</p>
        </div>
      </div>
      <div class="adjImg1 adji">
        <div class="foodImg1 FI" th:src="@{images/foods/{img}(img=${id})}"></div>
        <div class="Texts" th:each="list:${list}">
          <p th:text="${list.restaurantName}">짜장 상회</p>
          <p th:text="${list.menuName}">짬뽕</p>
          <p th:text="${list.ratedPrice}">6,000원</p>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>
