<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/my-page/statistics2.css" />
  <link rel="stylesheet" href="/css/common/style.css" />
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/component.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
</head>

<body>
  <header>
    <div class="header-side left">
      <a onclick="history.back()"><button class="header-icon back"></button></a>
    </div>
    <a href="/">
      <h1 class="header-icon logo"></h1>
    </a>
    <div class="header-side right">
      <a href="/"><button class="header-icon home"></button></a>
    </div>
  </header>

  <main>
    <div class="mainTitle">
      <p>나의 가성비 성과</p>
    </div>

    <canvas id="barChart"></canvas>

    <script>
      // 도넛 차트를 그리는 함수
      async function drawDonutChart() {

        let categoryData;
        let url = `/api/user/my-page/statistics2`;

        await fetch(url)
          .then(response => response.json())
          .then(data => {
            console.log(data);
            categoryData = data;
          })

        // 데이터 배열
        var data = {
          labels: [],
          // labels: ["데이터1", "데이터2", "데이터3", "데이터4", "데이터5", "데이터6", "데이터7", "데이터8", "데이터9", "데이터10"],
          datasets: [{
            data: [],
            // data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
            backgroundColor: [
              "#FF6384",
              "#36A2EB",
              "#FFCE56",
              "#8AC926",
              "#FF9F40",
              "#C4C4C4",
              "#009F9D",
              "#FCF6BD",
              "#E71D36",
              "#FFB8B8"
            ]
          }]
        };

        for (let v of categoryData) {
          data.labels.push(v.name);
          data.datasets[0].data.push(v.rateCount);
        }

        // 도넛 차트 옵션
        var options = {

          legend: {
            display: true,
            position: 'bottom'
          },

          animation: {
            duration: 1000
          },

          plugins: {
            datalabels: {
              formatter: (value, ctx) => {
                let sum = 0;
                let dataArr = ctx.chart.data.datasets[0].data;
                dataArr.map(data => {
                  sum += data;
                });
                let percentage = (value * 100 / sum).toFixed(2) + "%";
                return percentage;
              },
              color: '#fff',
              font: {
                weight: 'bold'
              }
            }
          }

        };

        // 도넛 차트 생성
        new Chart(document.getElementById("barChart"), {
          type: 'doughnut',
          data: data,
          options: options
        });

        // html
        let cateText = document.querySelector("#cateText");
        cateText.textContent = data.labels[0];

      }

      // 페이지 로드 후 도넛 차트 그리기
      window.onload = function () {
        drawDonutChart();
      };

    </script>

    <section class="MiddleBack">
      <div class="rateImg"></div>
      <div class="rateTextArea">
        <p class="rateText">
          <span sec:authorize="isAuthenticated()" sec:authentication="principal.nickname" class="username">???</span>
          회원님은 <br />
          <span id="cateText" style="color: #2292F9">중식</span>을
          가장 많이 드셨군요!

        </p>
      </div>
      </div>
    </section>
  </main>
</body>

</html>