<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/my-page/statistics.css" />
  <link rel="stylesheet" href="/css/common/style.css" />
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/component.css">
  <link rel="stylesheet" href="/css/common/modal-menu.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script src="/js/user/my-page/statistics.js" defer></script>
  <script src="/js/components/modal-menu.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>

<body>
  <header>
    <div class="header-side left">
      <a onclick="history.back()"><button class="header-icon back"></button></a>
    </div>

    <div class="logo-container">
      <a href="/">
        <div class="header-icon logo"></div>
      </a>
      <div class="header-icon hoverimg"></div>
    </div>

    <div class="header-side right">
      <a class="header-icon menu" id="menu"></a>
    </div>
  </header>

  <main>
    <div class="mainTitle">
      <p>나의 가성비 데이터</p>
    </div>

    <!-------- 차트 버튼 ver2-------->
    <span class="btnZone">
      <button class="chart-btn1">가성비교</button>
      <button class="chart-btn2">카테고리</button>
      <button class="chart-btn3">평가랭킹</button>
    </span>
    <!-------- 차트 버튼 ver1-------->
    <!-- <span class="btnZone">
      <button class="chart-btn1">가성비교<span class="chart-span1"></span></button>
      <button class="chart-btn2">카테고리<span class="chart-span2"></span></button>
      <button class="chart-btn3">평가랭킹<span class="chart-span3"></span></button>
    </span> -->


    <section id="dataSection">
      <canvas id="barChart" width="55" height="60"></canvas>

      <section class="MiddleBack">
        <div class="rateImg"></div>
        <div class="rateTextArea">
          <p class="rateText">
            메추리 전체 회원보다 <br />
            <span id="gap" style="color: #2292F9">30</span><span style="color: #2292F9">%</span> <span
              id="gapM">높은</span> 가성비를 누리셨네요!
          </p>
        </div>
      </section>
    </section>

    <input type="hidden" th:data-nickName="${#authentication.principal.nickname}" id="nickName">

    <!-- ============== 메뉴 모달 ============== -->
    <div class="modal-menu">
      <div class="screen">
        <div class="panel">
          <div class="profile-image-wrapper">
            <div class="profile-image-frame">
              <img class="profile-image" th:src="${#authentication.principal.img}" alt="프로필사진">
            </div>
            <div class="nickname-wrapper">
              <span class="nickname" th:text="${#authentication.principal.nickname}"></span>
            </div>
          </div>

          <nav class="menu-list-section">
            <ul>
              <li>
                <a href="/user/my-page/edit-info">
                  <div class="icon icon-key"></div>
                  <span>회원 정보 수정</span>
                </a>
              </li>
              <li>
                <a href="/user/my-page/like-list">
                  <div class="icon icon-heart"></div>
                  <span>찜 목록</span>
                </a>
              </li>
              <li>
                <a href="/user/my-page/rate-list">
                  <div class="icon icon-review"></div>
                  <span>평가 목록</span>
                </a>
              </li>
              <li>
                <a href="/user/my-page/statistics">
                  <div class="icon icon-chart"></div>
                  <span>가성비 평가 통계</span>
                </a>
              </li>
              <li>
                <a href="/logout">
                  <div class="icon icon-power"></div>
                  <span>로그아웃</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </main>
</body>

</html>