<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/my-page/statistics2.css" />
  <link rel="stylesheet" href="/css/common/style.css" />
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/component.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="/js/user/statistics2.js" defer></script>

</head>

<body>
  <header>
    <div class="header-side left">
      <a onclick="history.back()"><button class="header-icon back"></button></a>
    </div>
    <a href="/">
      <h1 class="header-icon logo"></h1>
    </a>
    <div class="header-side right">
      <a href="/"><button class="header-icon home"></button></a>
    </div>
  </header>

  <main>
    <div class="mainTitle">
      <p>나의 가성비 성과</p>
    </div>

    <canvas id="barChart" width="375" height="130"></canvas>

    <section class="MiddleBack">
        <div class="rateImg"></div>
        <div class="rateTextArea">
          <p class="rateText">
            <span sec:authorize="isAuthenticated()" sec:authentication="principal.nickname" class="username">???</span>
             회원님은 <br/>
            <span id="cateText">중식</span>을 
            가장 많이 드셨군요!
            
          </p>
        </div>
      </div>
    </section>
  </main>
</body>

</html>