@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('/css/style.css');


.mypage-text{
    flex-grow: 0.75;
    margin-top: 40px;
    margin-left: 16px;
}

.real-upload {
    display: inline-block;
    position: relative;
    top:40px;
    left:212px;
}

.real-upload img {
    /* 기본 이미지 */
    content: url('/images/icons/이미지수정.svg');
  }
  
.real-upload img:hover{
    /* 호버 이미지 */

    content: url('/images/icons/이미지수정호버.svg');
  }

.submit-btn{
    border:none;
    padding:10px;
    position:relative;
    top: 66px;
    left: 242px;
}
.box{
    padding-left: 10px;
}

.upload {
    display: none;
}

/* 프로필 사진 틀 */
.profile-circle{
    position: relative;
    width:100px;  /*부모(헤더)의 영향을 받음*/
    height: 100px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0px 0 0 135px;
    border-radius: 50%;
    border: 2px solid #ffffff00;
    box-shadow: var(--btn-shadow-1);
    align-content: center;
}

.profile-circle img{
    width:inherit;
    height: inherit;
    position: inherit;
    object-fit:cover;
    z-index: -1;
    /* right: 10px; */
}

.user-name{
    position: relative;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    /* vertical-align:middle; */
}

h1{
    font-size: 20px;
    color:#282828;
}

main ul{
    margin-left: 25px;
    font-size: 14px;
    color: #282828;
    font-weight: bold;
}

.box li{
    list-style: none;
}

li{
    list-style: none;
    padding: 2px 0 0 10px;
    font-weight: lighter;
}

/*닉네임 이메일주소 휴대폰번호 비번 묶음*/
.edit-user-total{
    width: 375px;
    height: 385px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
    background-color: #ffffff;
    padding-top: 20px;
}
/*개별 묶음*/
.edit-user-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 10px 0 0px;


}
/*비밀번호는 표시되는게 없어서 따로 분류*/
.change-pwd-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* margin-left: 44px; */
    justify-content: space-between;
    /* padding-left: 20px; */
    
}
/*정보표시 + 변경버튼*/
.info-box{
    /* width:295px; */
    width: 100%;
    height: 45px;
    margin:10px auto;
    display: flex;
    flex-direction: row;

}

/*회원 정보 표시*/
.box{
    width:279px;
    height:39px;
    line-height: 36px;
    background-color: #eeeeee;
    font-size: 14px;
    border-radius: 8px;
    margin-left: 20px;
}

.nickname{
    margin-top: 10px;
}



/*변경*/
.change-btn {
    width:46px;
    height:39px;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(117, 117, 117, 0.25);
    border-radius: 8px;
    text-align: center;
    line-height: 39px;
    font-size: 14px;
    margin-left: 10px;
    padding-top: 2px;
    font-weight: lighter;
}

/* 변경버튼 */
.pwd-change-btn{
    width:46px;
    height:41px;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(117, 117, 117, 0.25);
    border-radius: 8px;
    text-align: center;
    line-height: 39px;
    font-size: 14px;
    font-weight: lighter;
    margin-right: 10px;
}

.info-box a{
    color: #282828;
    text-decoration-line: none;
    font-size: 14px;
}

.change-pwd-wrapper{
    width: 375px;
    height: 69px;
    align-items: center;
    margin-top: 20px;
}

.change-pwd-wrapper a{
    color: #282828;
    text-decoration-line: none;
    font-size: 14px;
}


.change-pwd-text{
    line-height: 39px;
    font-size: 14px;
    padding-left: 28px;
    
}

.withdraw-btn{
    width: 68px;
    height: 28px;
    margin: 20px;
    border: 1px solid #dedede;
    background-color: #ffffff;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.withdraw-btn a{
    color: #868686;
    text-decoration-line: none;
    font-size: 12px;
}

