/* 메인 */

.mainTitle {
  font-weight: bold;
  display: flex;
  font-size: 18px;
  align-items: center;
  padding-left: 20px;
  width: 375px;
  height: 61px;
  box-shadow: var(--block-shadow);
  background-color: white;
}


.dateTxt {
  position: absolute;
width: 180px;
height: 22px;
left: 98px;
top: 227px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/*유저 평균*/

.MiddleBack {
  width: 100%;
  height: 450px;
  position: absolute;
  /* margin-top: 10px; */
}


/*=============== 그 래 프  ===============*/

#barChart{
  margin-top: 20%;
}


/*=============== 결과 ===============*/

.MiddleBack {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.rateImg {
  background-image: url("../../../images/icons/rateImg.svg");
  background-repeat: no-repeat;
  width: 84px;
  height: 73px;
  align-items: center;
  justify-self: center;
  /* margin: 30px 0 0 0; */
}
.rateTextArea {
  width: 271px;
  height: 60px;
  position: relative;
  border-radius: 30px;
  display: flex;
  background-color: rgb(233, 232, 232);
  align-items: center;
  justify-content: center;
  
}

.rateText {
  text-align: center;
  font-weight: 800;

}