main {
    height: 100%;
    padding: 0 20px;
}

.category {

    width: 98px;
    height: 31px;
    text-align: center;
    border-radius: var(--border-radius);

}

.mainTop {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1200;
}

.resranking {
    box-sizing: border-box;
    margin: 90px 0 0;
    padding: 18px 20px;
    width: 100%;
    height: 61px;
    top: 90px;
    box-shadow: var(--block-shadow);
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: sticky;
}


.top-section {
    display: grid;
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 64px;
    text-align: center;
    align-items: center;
    box-shadow: var(--block-shadow);
}


/*<img th:src="@{images/foods/img(img=${list.img})}">*/

.ranking-list {

    display: grid;
    height: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-bottom: 25px;
    text-align: center;
    align-items: center;
    box-shadow: var(--block-shadow);

    max-width: 500px;
}


.img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    max-width: 500px;
}


/*.ranking-list-sections {*/

/*    margin-top: 15px;*/
/*    counter-reset: number 0;*/
/*    position: relative;*/
/*}*/

/*.rankingNum::before {*/
/*    counter-increment: number 1;*/
/*    content: counter(number);*/

/*}*/


.up {
    color: #7676ff;
}

.down {
    color: #b95151;
}




.thymeleaf{
    width: 100%;
    display: block;
    margin-bottom: 30px;
    position: relative;

}

.medal {
    background-image: url(/images/icons/금.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size:100%;
}

.silver {
    background-image: url(/images/icons/은.png);
    background-repeat: no-repeat;
    width: 100%;
}

.bronze {
    background-image: url(/images/icons/동.png);
    background-repeat: no-repeat;
    width: 100%;
}

@media only screen and (min-width: 769px) {


    .ranking-list-sections {
        margin-top: 15px;
        counter-reset: number 0;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 100%));
        grid-column-gap: 25px;
    }

}
