@import url("/css/style.css");

main {
  padding: 0 20px;
}
.mainTop {
  width: 100%;
  height: 61px;
  box-shadow: var(--block-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  /* position: absolute; */
  width: 98px;
  height: 31px;
  top: 165px;
  left: 256px;
  margin: 18px 20px;

  border-radius: var(--border-radius);
}

.name {
  padding: 18px 20px;
}
.ul-option {
  box-shadow: var(--block-shadow);
  height: 38px;
  width: 100%;
  margin: 0 0 11px 0;
}

.tags-option {
  width: 100%;
  padding: 5px 0px 0px 0px;
  margin: 0 0;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 22px;
  position: relative;
  left: 20px;
  font-size: 15px;
  color: rgb(178, 178, 178);
  font-weight: 200;
}

.sec {
  display: flex;
  box-shadow: var(--block-shadow);
  margin-bottom: 15px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: var(--border-radius);
}

.position {
  width: 14px;
  height: 2px;
  background-color: rgb(178, 178, 178);
  position: relative;
  top: 42px;
  left: 10px;
}
.img1 {
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-image: url("../images/foods/678버거.jpg");
  border-radius: var(--border-radius);
}

.moreInfo {
  width: 100%;
  height: 41px;
  text-align: center;
  background-color: var(--sub-color);
  border-radius: var(--border-radius);
  border-style: none;
  font-weight: 800;
  color: white;
}
