.page-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px 0 20px;
}

/* 포스터 배경 */
.poster-bg {
    background-color: #F4F4F4;
    border-radius: 8px;

    width: 100%;
    height: 100%;
}

/* 데이터 섹션 */
.data-section {
    box-sizing: border-box;
    padding: 0 6px;
}

.data-item {
    background-color: white;

    height: 135px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-chart-wrapper {
    padding: 0 11px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-chart {
    background-image: url("/images/icons/chart-2.svg");
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100px;
    height: 100px;
}

.data-text-wrapper { 
    padding: 0 11px; 
}
.data-text-wrapper p{ margin: 0; }
.data-text-wrapper p:first-child { font-weight: bold; }