@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-color: var(--background-color);
}
header {
    /* layout */
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;

    /* items layout */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main>*{
    width: 100%;
}

.header-icon-back {
    background-image: url(/images/icons/뒤로가기.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    width: 12px;
    height: 19px;

    /* "메뉴버튼" 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;
}

.header-logo {
    background-image: url(/images/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    /* layout */
    width: 72px;
    height: 44px;
    margin: 0;

    /* "메추리" 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;
}

.header-icon-home {
    background-image: url(/images/icons/home.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;

    width: 20px;
    height: 23px;

    /* "메뉴버튼" 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;
}
/* ----------- 식당 이미지 ----------- */
.restaurant-img-box {
    line-height: 0px;
    display: flex;
    justify-content: center;
}

.restaurant-img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    max-width: 450px;
    /* margin-top: 25px; */
}

/* ----------- 상호명 ----------- */
.restaurant-name-wrapper {
    background-color: #fff;
    height: 72px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: var(--block-shadow);

    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------- 사용자 입력 컨텐츠 wrapper ----------- */
.input-contents-wrapper {
    background-color: #fff;

    /* layout */
    display: flex;
    flex-direction: column;
    margin-top: var(--block-space);
    padding: 20px;

    max-width: 900px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

/* ----------- 메뉴 선택 ----------- */
.menu-selection {
    background-color: #fff;

    /* layout */
    display: flex;
    flex-direction: column;
}

.menu-selection h1 {
    margin: 5px 0;
    font-weight: bold;
}

.menu-dropbox {
    /* box styling */
    background-color: #EEE;
    border: none;
    border-radius: 8px;
    height: 40px;

    /* contents */
    font-family: var(--font);
    text-align: center;

    /* layout */
    margin: var(--content-margin);
}

/* ----------- 평가 ----------- */
.rate {
    background-color: #fff;

    /* layout */
    display: flex;
    flex-direction: column;
    margin-top: var(--contents-space);
}

.rate h1 {
    margin: var(--content-margin);
    font-weight: bold;
}

.selling-price-box {
    height: 27px;
    /* layout */
    margin: var(--content-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selling-price {
    display: flex;
}

.selling-price span:last-child {
    margin-left: 17px;
}

.my-price-box {
    height: 27px;
    /* layout */
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-price-box p {
    /* font styling */
    font-weight: bold;
    color: var(--sub-color);
}

.my-price input {
    width: 60px;
    height: 27px;
    background-color: var(--box-color);
    border: none;
    border-radius: 8px;
    text-align: center;
    font-family: var(--font);
    font-size: 16px;
}

/* 가격 조절 스크롤 */
.slide-container {
    margin: var(--content-margin);
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2vmin;
    max-height: 10px;
    border-radius: 5px;
    background-color: var(--sub-color);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6vmin;
    max-width: 40px;
    height: 6vmin;
    max-height: 40px;
    border-radius: 50%;
    background: var(--background-color);
    border: 3px solid var(--sub-color);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--background-color);
    cursor: pointer;
}

/* ----------- 리뷰 ----------- */
.review {
    background-color: #fff;

    /* layout */
    display: flex;
    flex-direction: column;
    margin-top: var(--contents-space);
}

.review h1 {
    margin: var(--content-margin);
    font-weight: bold;
}

/* ----------- 리뷰 사진 ----------- */
.review-image-wrap {
    margin-top: 10px;

    display: flex;
    align-items: center;
}

.icon-camera {
    background-image: url(/images/icons/camera-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 20px;
    height: 20px;
    margin-right: 10px;

}

.btn-upload {
    font-size: 14px;
    border-radius: 8px;
    background-color: #EEE;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    height: 30px;
    width: 100px;
    padding: 0px 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.btn-upload:hover {
    background-color: #cfcfcf;
    /* color: #fff; */
}

.btn-upload.uploaded {
    background-color: #cfcfcf;
}


.review textarea {
    font-family: var(--font);
    margin-top: 10px;
    background-color: var(--box-color);
    border: none;
    border-radius: var(--border-radius);
    height: 80px;
    padding: 10px;
    resize: none;
}

/* ----------- 평가 버튼 ----------- */
.rate-btn { margin-top: 20px; }
.rate-btn.inactive {
    background-color: var(--btn-color-2);
}


/* ------------- 평가 확인 모달 ------------- */
/* 모달 창 */
.modal {
    background-color: rgba(0, 0, 0, 0.7);

    /* layout */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 40%;

    /* items layout */
    display: flex;
    justify-content: center;
}

/* 모달 박스 공통 */
.modal-box {
    font-weight: bold;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-sizing: border-box;

    /* layout */
    position: fixed;
    padding: 30px;
    width: 315px;
    max-height: auto;

    /* items layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* 메추리 + 텍스트(질문) 박스 */
.question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.question-box img {
    width: 106px;
    height: 92px;
}

.question-box p {
    margin: 0;
    text-align: center;
}

/* 버튼 박스 */
.check-btn-box {
    display: flex;
    gap: 20px;
}

.check-btn-box button {
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--btn-shadow2);
}

.no {
    background-color: var(--box-color);
}

.no:hover {
    filter: brightness(0.9);
}

.yes {
    background-color: var(--main-color);
}

.yes:hover {
    filter: brightness(0.9);
}

.modal.check-back .no,
.modal.check-home .no {
    background-color: #FFE8E8;
    border: 1.5px solid #F00;
    color: #F00;
}

.modal.check-back .yes,
.modal.check-home .yes {
    background-color: var(--box-color);
}


@media only screen and (min-width: 679px) {

    header {
        height: 300px;
        width: 100%;
        background-image: url(/images/foods/main.svg);
        /*background-color: transparent;*/
        /*background-repeat: no-repeat;*/
        background-size: cover;
        z-index: 80;
        position: relative;
    }

    .restaurant-img-box {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .input-contents-wrapper {
        width: 100%;
        max-width: 900px;

    }

    .restaurant-name-wrapper {
        display: flex;
        margin-top: 15px;
        max-width: 900px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        left: 50%;
        padding: 0 20px;
        transform: translateX(-50%);
    }
}