body { background-color: var(--background-color); }
p { margin: 0; }

/* 요약 정보 */
.summary-info-wrap {
    background-color: white;
    box-shadow: var(--block-shadow);

    height: 50px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.summary-info-wrap>span:first-child { font-weight: bold; }
.review-count { color: var(--sub-color); }

/* ================ 리뷰 리스트 섹션 ================ */
.review-list-section {
    width: 100%;
    margin-top: 8px;
}

.review-list {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------- 리뷰 아이템 ------------- */
.review {
    border-bottom: 1px solid #0002;

    margin: 10px 0;
    padding-bottom: 5px;

    display: grid;
    grid-template: 
                    "profile"
                    "img"
                    "info"
                    "comment";
    row-gap: 10px;
}

/* -------------- 유저 프로필란 -------------- */
.profile-wrap {
    font-size: 14px;

    display: flex;
    align-items: center;
    gap: 10px;
}

/* 프로필 이미지 */
.profile-img-wrap {
    border-radius: 50%;
    overflow: hidden;

    width: 32px;
    height: 32px;
}

.profile-img-wrap img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* 등록일 */
.reg-date {
    color: var(--hint-color);
    letter-spacing: -1px;
    margin-left: 15px;
}

/* 삭제 버튼 */
.btn-delete {
    color: var(--font-color-3);
    font-weight: bold;
    border: none;
    background-color: transparent;
    
    margin-left: auto;

    cursor: pointer;
}

.btn-delete:hover {
    border: 1.5px solid var(--font-color-3);
    border-radius: 8px;
    filter: brightness(0.8);
}


/* -------------- 평가 이미지란 -------------- */
.img-wrap {
    border-radius: 8px;
    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-wrap img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

/* -------------- 평가 정보란 -------------- */
.rate-info-wrap {
    font-size: 14px;
    padding: 0 14px;
}
.rate-info-wrap p{ color: rgb(91, 91, 91); }
.rate-info-wrap p:last-child{ color: var(--sub-color); }

/* -------------- 리뷰란 -------------- */
.review-wrap { padding: 0 6px; }


/* -------------- 리뷰쓰기 버튼 -------------- */
.btn-review-wrap {
    border-radius: 20px;
    background-color: var(--main-color);

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    padding: 5px 10px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-review-wrap:hover {
    box-shadow: var(--btn-shadow-5);
}

.btn-review-wrap a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-rate {
    display: block;

    background-image: url(/images/icons/pencil.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 14px;
    height: 14px;
}
