<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>손 안의 메뉴 추천 리스트, 메추리</title>
    <link rel="stylesheet" type="text/css" href="/css/restaurant/category.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <div class="search-container"> 
            <div class="search-inner">
                <div class="icon_searching">
                    <button type="button" onclick="history.back()"><img src="/images/icons/icon-backwardw.svg"></button>
                </div>
                <p th:text="${category.name}">한식</p>
                <div class="icon_backward">
                    <button type="button"><img src="/images/icons/icon-search.svg"></button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="menu-box">
            <div class="menu">
                <ul>
                    <li class="rs-menu non-click"><a href="/index" th:href="@{/restaurant/list/category/{id}(id=1)}">한식</a></li>
                    <li class="rs-menu non-click"><a href="/index">중식</a></li>
                    <li class="rs-menu non-click"><a href="/index">일식</a></li>
                    <li class="rs-menu non-click"><a href="/index">양식</a></li>
                    <li class="rs-menu non-click"><a href="/index">분식</a></li>
                    <li class="rs-menu non-click"><a href="/index">기타</a></li>
                </ul>
            </div>
        </div>

        <!-- 컨텐츠 -->
        <section>
            <section class="content" th:each="restaurant : ${list}">
                <!-- 이미지 -->
                <div class="image-box">
                    <img src="/images/foods/청화원2.png" alt="청화원" class="image">
                    <!-- 하트 -->
                    <button class="like inactive">좋아요</button>
                    <div class="data-box">
                        <p>좋아요 수</p>
                        <p th:text="${restaurant.likedCount}">718</p>
                        <p>평가 수</p>
                        <p th:text="${restaurant.ratedCount}">207</p>
                    </div>
                </div>
                <!-- 정보 -->
                <div class="info-box">
                    <p th:text="${restaurant.name}">식당명</p>
                    <p>평균가격</p>
                    <p>10,000원</p>
                    <p>·</p>
                    <p>가성비</p>
                    <p>113%</p>
                </div>
                <!-- 버튼 -->
                <div class="btn-box">
                    <div>
                        <a href="/restaurant/1" th:href="@{/restaurant/{id}(id=${restaurant.id})}"><button>상세 보기</button></a>
                    </div>	
                    <div>
                        <a href="rate/rate.html"><button>평가하기</button></a>
                    </div>
                </div>
            </section>
        </section>

    </main>

</body>

</html>