<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>손 안의 메뉴 추천 리스트, 메추리</title>
  <link rel="stylesheet" type="text/css" href="/css/restaurant/detail.css">
  <link rel="stylesheet" type="text/css" href="/css/common/style.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9413a6fbf3f9b5aebdbce4bddfb5f61b&libraries=services"></script>
  <script src="/js/restaurant/map.js"></script>
</head>

</body>

</html>