<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link rel="stylesheet" href="../../static/css/restaurant/ranking.css" />-->
  <link rel="stylesheet" href="/css/restaurant/ranking.css" />
  <link rel="stylesheet" href="/css/common/style.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/button.css">

</head>
<body>
    

    <header>
      <div class="header-side left">
        <a><button class="header-icon back"></button></a>
      </div>
      <h1 class="header-icon logo"></h1>
      <div class="header-side right">
        <a><button class="header-icon home"></button></a>
      </div>
      </header>

      <section class = "mainTop">
        <div class = "name">가성비 식당 랭킹</div>
        <select class = "category" name="category" required>
          <option value="카테고리 선택" disabled selected>카테고리 선택</option>

          <option value = "0"
            th:each="ctg:${ctg}"
            th:text="${ctg.name}"
          >전체</option> <!-- 전체랭킹을 보여 주는 식으로 운영 해야 될 것 같ㄷ다-->

        </select>
      </section> 

      
      <div class ="ul-option">
        <ul class = "tags-option">
          <li>순위</li>
          <li>상호</li>
          <li>평균가격(평가가격)</li>
          <li>가성비</li>
        </ul>
      </div>
      <main>
        
        <section class= "ranking-list-sections">
          <div th:each="list:${list}">
            <div class = "position"></div>
              <div class="ranking-list">
                <p>1</p>
                <div class = "img1 img"></div>
                <p th:text="${list.name}">짜장상회</p> <br>
                <p th:text="${list.price}"></p>
                <span style="color: blue;"> <p th:text="${list.cumulativeRatedPrice}"></p></span>
                <p> 133%</p>
            </div>
          </div>
        </section>

        <button class = "moreInfo">
          더보기
        </button>
      </main>
      
  </body>
</html>