<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/restaurant/ranking.css" />

</head>
<body>
    

    <header>
      <div class="header-side left">
        <a><button class="header-icon back"></button></a>
      </div>
      <h1 class="header-icon logo"></h1>
      <div class="header-side right">
        <a><button class="header-icon home"></button></a>
      </div>
      </header>

      <section class = "mainTop">
        <div class = "name">가성비 식당 랭킹</div>
        <select class = "category">
          <option value = "0">카테고리순</option> <!-- 전체랭킹을 보여 주는 식으로 운영 해야 될 것 같ㄷ다-->
          <option value = "1">한식</option>
          <option value = "2">일식</option>
          <option value = "3">중식</option>
          <option value = "4">양식</option>
          <option value = "5">기타</option>
        </select>
      </section> 

      
      <div class ="ul-option">
        <ul class = "tags-option">
          <li>순위</li>
          <li>상호</li>
          <li>평균가격(평가가격)</li>
          <li>가성비</li>
        </ul>
      </div>
      <main>
        
        <section class= "sections">
          <div> 
            <div class = "position"></div>
              <div class="sec">
                <p>1</p>
                <div class = "img1 img"></div>
                <p>짜장상회 <br>6,000<span style="color: blue;">(8,000)</span></p>
                <p> 133%</p>
            </div>
          </div>

          <div> 
            <div class = "position"></div>
              <div class="sec">
                <p>2</p>
                <div class = "img1 img"></div>
                <p>짜장상회 <br>6,000(8,000)</p>
                <p> 133%</p>
            </div>
          </div>

        </section>

        <button class = "moreInfo">
          더보기
        </button>
      </main>
      
  </body>
</html>