<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/restaurant.css">
    <title>ADD Restaurant</title>
</head>

<body>
    <a href="../restaurant">식당 관리 페이지로</a>
    <div class="column-container">
        <div class="column-box">
            <p>id</p>
            <p>카테고리</p>
            <p>식당명</p>
            <p>이미지</p>
            <p>소개</p>
            <p>주소</p>
            <p>영업시간</p>
            <p>연락처</p>
        </div>
    </div>
    <section class="restaurant">
        <div></div>
        <input placeholder="ex 한식"></input>
        <input placeholder=""></input>
        <input placeholder=""></input>
        <input placeholder=""></input>
        <input placeholder=""></input>
        <input placeholder=""></input>
        <input placeholder=""></input>
        <div class="buttons">
            <a><button>완료</button></a>
        </div>
    </section>
</body>

</html>