<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/login.css" />
  <link rel="stylesheet" href="/css/common/style.css"/>
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script src="/js/user/login.js" defer="defer"></script>
</head>

<body>
  <header>
    <div class="header-side left">
      <a href="javascript: history.back();" class="header-icon back"></a>
    </div>
    <h1 class="header-icon logo"></h1>
    <div class="header-side right">
      <a href="/" class="header-icon home"></a>
    </div>
  </header>

  <main>
    <!-- 이미지 -->
    <div class="login-image"></div>

    <!-- 로그인 폼 -->
    <section class="login-form-section">
      <div class="login-form-container">
        <form action="login" method="POST">
          <div class="email-container">
            <div class="email-label">아이디</div>
            <div class="email-wrapper">
              <input class="email" type="email" name="email" placeholder="이메일을 입력해주세요" id="email" />
            </div>
          </div>
          <div class="pwd-container">
            <div class="pwd-label">비밀번호</div>
            <div class="pwd-wrapper">
              <input class="pwd" type="password" name="password" placeholder="비밀번호을 입력해주세요" required />
            </div>
          </div>

    <div class="input-container">
      <!-- FIXME 텍스트 색상 -> #fff -->
      <button class="submitbtn">
        <input type="hidden" name="returnURL" th:value="${param.returnURL}">
        <!-- 아마 a -> button으로 고치면 될듯? -->
        <a href="my-page/rate-list">로그인 </a> <!--returnUrl-->
      </button>
    </div>
    </form>

    <div class="idAndPwd">
      <!-- FIXME 버튼 스타일 지우기 -->
      <button class="findId" id="popupBtn">계정 찾기</button>

      <a href="sign-up/policy">
        <div class="signup">회원 가입</div>
      </a>
      <div class="btw"></div>
    </div>
    <!-- FIXME 버튼이랑 겹침 -->
    <div th:if="${param.error}">
      아이디 혹은 비밀번호가 일치하지 않습니다.
    </div>

    <div class="onlyImg"></div>
  </main>

  <!-- <div id=modalWrap>
    <div class="pop">
      <div class="area">
        <a href="index.html"><button id="findEmail">이메일 찾기</button></a>
        <a href="index.html"><button id="findP">비밀번호 찾기</button></a>
      </div>
    </div>

  </main>

</body>

</html>