<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/login.css" />
  <link rel="stylesheet" href="/css/common/style.css"/>
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/common/button.css">
  <script src="/js/user/login.js" defer="defer"></script>
</head>

<body>
  <header>
    <div class="header-side left">
      <a href="javascript: history.back();" class="header-icon back"></a>
    </div>
    <div class="logo-container">
      <a href="/">
        <div class="header-icon logo"></div>
      </a>
      <div class="header-icon hoverimg"></div>
    </div>
    <div class="header-side right">
    </div>
  </header>

  <main>
    <!-- 이미지 -->
    <div class="login-image"></div>

    <!-- 로그인 폼 -->
    <section class="login-form-section">
      <div class="login-form-container">
        <div class="login-form-contents">
        <form action="login" method="POST">
          <div class="email-container">
            <div class="email-label">아이디</div>
            <div class="email-wrapper">
              <input class="email" type="email" name="email" placeholder="이메일을 입력해주세요" id="email" />
            </div>
          </div>
          <div class="pwd-container">
            <div class="pwd-label">비밀번호</div>
            <div class="pwd-wrapper">
              <input class="pwd" type="password" name="password" placeholder="비밀번호을 입력해주세요" required />
            </div>
          </div>

          <div th:if="${param.error}" class="error">
            아이디 혹은 비밀번호가 일치하지 않습니다.
          </div>

          <button class="button button-1">로그인</button>
        </form>
      </div>
    </section>

    <div class="social-account-container">
      <div class="social-account-wrapper">
        간편 로그인
        <div class="social-account-wrapper">
          <a href="http://localhost:8080/oauth2/authorize/google">
            <img src="/images/icons/login-google.svg">
          </a>
          <a href="http://localhost:8080/oauth2/authorize/naver">
            <img src="/images/icons/login-naver.svg">
          </a>
          <a href="http://localhost:8080/oauth2/authorize/kakao">
            <img src="/images/icons/login-kakaotalk.svg">
          </a>
        </div>
      </div>
    </div>

    <div class="account-container">
      <div class="account-wrapper find-pwd">
        <a href="login/find-pwd" class="find-account-btn" id="popupBtn">계정 찾기</a>
      </div>
      <div class="account-wrapper">
        <a href="sign-up/policy">회원 가입</a>
      </div>
    </div>

  </main>

</body>

</html>