<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/user/login.css" />
  <link rel="stylesheet" href="/css/style.css"/>
  <script src="/js/user/login.js" defer="defer"></script>
</head>

<body>
  <header>
    <div class="header-side left">
      <a><button class="d-none"></button></a>
    </div>
    <h1 class="header-icon logo"></h1>
    <div class="header-side right">
      <a><button class="header-icon cancle"></button></a>
    </div>
  </header>

  <main>
    <div class="login_image"></div>
    <form action="/user/login" method="post">
    <div class="idAndPw">
        <span class="login"> 아이디 </span>
        <span class="id">
          <input type="email" name="email" placeholder="가입하신 이메일을 입력해주세요." id="email" />
        </span>
        <span class="pass">비밀번호</span>
        <span class="pw">
          <input type="password" name="password" placeholder="비밀번호을 입력해주세요." required />
        </span>
    </div>

    <div class="input-container">
      <!-- TODO 텍스트 색상 -> #fff -->
      <button class="submitbtn">
        <input type="hidden" name="returnURL" th:value="${param.returnURL}">
        <a href="">로그인 </a>
      </button>
    </div>
    </form>

    <div class="idAndPwd">
      <!-- TODO 버튼 스타일 지우기 -->
      <button class="findId" id="popupBtn">계정 찾기</button>

      <a href="sign-up/policy">
        <div class="signup">회원 가입</div>
      </a>
      <div class="btw"></div>
    </div>
    <!-- TODO 버튼이랑 겹침 -->
    <div th:if="${param.error}">
      아이디 혹은 비밀번호가 일치하지 않습니다.
    </div>

    <div class="onlyImg"></div>
  </main>

  <!-- <div id=modalWrap>
    <div class="pop">
      <div class="area">
        <a href="index.html"><button id="findEmail">이메일 찾기</button></a>
        <a href="index.html"><button id="findP">비밀번호 찾기</button></a>
      </div>
    </div>
  </div> -->

</body>

</html>