<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 정보</title>
</head>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        let emailConfirmCode = '';

        // Function to send email confirmation request
        function sendEmailConfirmationRequest() {
            const email = document.getElementById('memail').value;
            const formData = new FormData();
            formData.append('e', email);



            fetch('/api/user/mailcheck', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams(formData),
            })
                .then(function(response) {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('이메일 전송에 실패했습니다.');
                    }
                })
                .then(function(data) {
                    emailConfirmCode = data;
                    console.log('인증코드가 이메일로 전송되었습니다.');
                })
                .catch(function(error) {
                    console.log(error.message);
                });
        }


        // Function to check email confirmation code
        function checkEmailConfirmationCode() {
            const userCode = document.getElementById('memailconfirm').value;
            const memailconfirmTxt = document.getElementById('memailconfirmTxt');
            const emconfirmchk = document.getElementById('emconfirmchk');
            if (userCode !== emailConfirmCode) {
                memailconfirmTxt.innerHTML = '<span id="emconfirmchk">인증번호가 잘못되었습니다.</span>';
                emconfirmchk.style.color = '#FA3E3E';
                emconfirmchk.style.fontWeight = 'bold';
                emconfirmchk.style.fontSize = '10px';
                console.log('인증번호가 잘못되었습니다.');
            } else {
                memailconfirmTxt.innerHTML = '<span id="emconfirmchk">인증번호 확인 완료</span>';
                emconfirmchk.style.color = '#0D6EFD';
                emconfirmchk.style.fontWeight = 'bold';
                emconfirmchk.style.fontSize = '10px';
                console.log('인증번호 확인 완료');
            }
        }

        // Event handler for email confirmation button click
        document.getElementById('checkEmail').addEventListener('click', function() {
            sendEmailConfirmationRequest();
        });

        // Event handler for email confirmation code input
        document.getElementById('memailconfirm').addEventListener('keyup', function() {
            checkEmailConfirmationCode();
        });
    });

</script>


<body>
<!-- <span>이메일 </span> -->
<div class="form-group last mb-4 email_input">
    <label for="memail" id="mailTxt">이메일을 입력해주세요</label>
    <input type="text" class="form-control" name="memail" id="memail">
</div>
<!-- <span>이메일 인증번호</span> -->
<button class="btn btn-outline-primary" type="button" id="checkEmail">인증번호</button>


<div class="form-group last mb-4 check_input">
    <label for="memailconfirm" id="memailconfirmTxt">인증번호를 입력해주세요</label>
    <input type="text" class="form-control" id="memailconfirm">
</div>
</body>

</html>