<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 정보</title>
    <link rel="stylesheet" href="/css/user/my-page.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/user/my-page/reg.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
   
</head>

<body>
    <header>
        <div class="header-side left">
            <!-- <a sec:authorize="isAuthenticated()" href="admin">
                <img class="" src="/images/icons/admin_btn.svg" alt="">
            </a>
            <span sec:authorize="isAuthenticated()" sec:authentication="principal.nickname" class="username"></span> -->
        </div>
        <div class="header-icon logo">  
            <a href="/"><img src="/assets/logo.svg" alt=""></a>
        </div>
        <div class="header-side right">
            <a onclick="history.back()"> <img class="userBtn-img" src="/images/icons/엑스.svg" alt=""></a>
        </div>
    </header> 
    
    <main>

        <section class="img-edit-section">
            <div href=""class ="edit-image" alt="">
                <img src="/images/icons/이미지수정.svg" alt="edit-image-icon">
            </div>
            <div class="profile-circle">
                <img src="/images/components/프사메추리.png" alt="프로필사진">
            </div>
        </section>
        <li class="user-name">메추리님</li>
        
        <div class ="main">
            <div class="user-modi-list">
                <!-- 회원 정보 수정 --> 
				<div>
                <button class="user-modify-info" href="#">
					<a href="my-page/edit-info">
                    <div href="" class="key-icon">
                        <img class="mypage-icon" src="/images/icons/key.svg" alt="usermodi">
                        <li>회원 정보 수정</li>
                    </div>
                	</a>
                </button>
				</div>
                <!-- 찜목록 -->
				<div>
					<button class="like-list" href="#">
					<a href="my-page/like-list">
						<div class="like-icon">
							<img class="mypage-icon" src="/images/icons/heart.svg" alt="likelist">
							<li>찜 목록</li>
						</div>
					</a>
					</button>
				</div>
                <!-- 평가목록 -->
				<div>
				<button class="value-list" href="#">
                <a href="my-page/rate-list">
                    <div class="value-icon">
                        <img class="mypage-icon" src="/images/icons/review.svg" alt="valuelist">
                        <li>평가 목록</li>
                    </div>
                </a>
				</button>
				</div>
                <!-- 가성비 평가 비교 -->
                <div>
				<button class="compare-value" href="#">
					<a href="my-page/statistics">
                    <div class="compare-icon">
                        <img class="mypage-icon" src="/images/icons/compare-value.svg" alt="valuelist">
                        <li>가성비 평가비교</li>
                    </div>
                	</a>
                </button>
				</div>
                <!-- 로그아웃 -->
				
                <a href="/">
                <button class="value-list" href="#">
                    <div class="value-icon">
                        <img class="mypage-icon" src="/images/icons/logout.svg" alt="valuelist">
                        <li>로그아웃</li>
                    </div>
                </button>
                </a>
            </div>
        </div>
        </div>
        
    </main>
</body>

</html>