<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 정보</title>
    <link rel="stylesheet" href="/css/user/my-page.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/style.css">
    <link rel="stylesheet" href="/css/user/my-page/reg.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="/js/components/modal-menu.js"></script>
    

</head>

<body>

    <main>
        <div class="test">
            <div>안녕하세요</div>
            <div>안녕하세요</div>
            <div>안녕하세요</div>
            <div>안녕하세요</div>
            <div>안녕하세요</div>
            <div>안녕하세요</div>
            <div>안녕하세요</div>
        </div>

        <modal-menu/>

    </main>
</body>

</html>