@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
    list-style: none;
}

body{
    margin: 0;
    background-color:white;
}

main{
    width: 100%;
    box-sizing: border-box;
}

/* -------------------- 헤더 -------------------- */
.username {
    margin-left: 10px;
    font-size: 12px;
}

.userBtn img{
    min-width: 45px;
    grid-column: 3;
    justify-items: start;
    
}

.userBtn-img{
    width: 22px;
    height: 24px;
    overflow: hidden;
}

.logo-img{
    grid-column: 2;
    width: 72px;
    height: 44px;
}

/* ------------------- 메인 배너 ----------------- */

.ad {
    position: relative;
    overflow: hidden; /* 추가 */
}
.ad-web {
    position: relative;
    text-align: center;
}

.ad-web img {
    width: 100%;
    height: auto;
    display: block;
}

.ad-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ad-text p {
    color: #F5F5F7;
    font-family: Noto Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
}

.ad-web img{
    width: 100%;
}

.ad-mobile{
    display: none;
}

/* ----------------- 검색창 ------------------- */

.search-bar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 722px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 999;
}
  
.search-bar input{
    padding-left: 15px;
    padding-top: 0px;
    border: none;
    outline: none;
    width: 100%;
}

.search-bar .search-input img{
    padding-left: 15px;
    padding-top: 5px;
}

.search-map {
    padding-right: 15px;
}

#search-input {
    color: #B9B7B7;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ----------------카테고리------------------ */

.type{
    padding: 0 230px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typelist{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 3px;
    list-style: none;
    place-items: center;
}

.typelist li{
    display: flex;
    justify-content: center;
    width: 72px;
    padding-right: 20px;
}

.typelist li a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
}

.typelist li:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.typelist li img {
    float: left;
    padding: 15px 0;
    padding-right: 10px;
    width: 30px;
}

.category-all-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    margin-right: 60px;
}

.category-all-wrapper img {
    float: left;
    padding-right: 10px;
    width: 20px;
}

.category-all-wrapper p{
    color: #797878;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}

/* ------------------------------------------- */


/* .ranking{
    position: relative;
    padding: 70px 200px;
}

.ranking h1{
    padding: 46px 0 20px 0;
} */

.ranking{
    display: none;
}

.ranking input{
    display: none;
}

.slidelist{
    display: none;
}

/*  */

.ranking-test-container{
    padding: 70px 200px 10px 200px;
    column-gap: 6px;
}
.ranking-test-container h1{
    padding-bottom: 20px;
}
.ranking-test-wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
}
.ranking-test-left{
    flex: 1;
}
.ranking-test-right{
    flex: 1.3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
}
.ranking-test-left img {
    width: 100%;
    /* height: auto; */
}
.ranking-test-right img {
    width: 100%;
    /* height: auto; */
}


/* -------------------- 성과비교 --------------------- */

.comparison{
    /* width: 100%; */
    position: relative;
    padding: 70px 200px;
}

.comparison h1{
    padding-bottom: 20px;
}

.comparison-img {
    width: 100%;
}

.comparison-img-content{
    display: none;
}

.comparison-img img{
    width: 100%;
}

.comparison-text{
    position: absolute;
    top: 55%;
    left: 37%;
    transform: translate(-50%, -50%);
}

.comparison-text p:first-child{
    color: #FFF;
    font-family: Noto Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.comparison-text p:last-child {
    color: #FFF;
    font-family: Noto Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* -------------------- 하단 배너 -------------------- */

.adBox{
    background-color: white;
    padding: 40px 200px;
}

.adBox a img:nth-child(2),
.adBox a img:nth-child(3){
    display: none;
}

.adBox h1{
    position: relative;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.adBox img {
    width: 100%;
}


/* .rateAd{ */
    /* margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px; */
    /* padding: 10px 20px 15px 20px; */
    /* background-color: white; */
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); */
    /* height: 214px; */
/* } */






