@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* ------------ 공통 ------------ */

*{
 margin: 0px;
 padding: 0px;
 font-family: var(--font);
 list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
}

main{
    box-sizing: border-box;
}

.ad-mobile img, .search-bar-container, .typelist, .ranking-wrap, .comparison-img {
    max-width: 769px;
}

.category-all-wrapper, .ad-web, .ranking-web-container, .adBox a img:first-child, .adBox-wrap h1, .rateAd-web {
    display: none;
}


.type, .comparison, .ranking, .adBox {
    margin: 8px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.title-box button, .title-box h1, .comparison h1 {
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
}


.title-box h1, .comparison h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

/* ------------------- 1. 상단  ----------------- */

/* ------------------- 메인 배너 ----------------- */

.ad {
    width: 100%;
    position: relative;
    overflow: hidden; /* 추가 */
}

.ad-mobile{
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: -55px; /* 추가 */
    z-index: 1; /* 추가 */
}

.ad-mobile img{
    width: 100%;
    margin-top: 55px;
}


/* ----------------- 검색창 ------------------- */

.searchZone{
    position: relative; /* 변경 */
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    background-color: transparent;
    z-index: 2;
}

.search-bar-container{
    width: 100%;
}

.search-bar{
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
}
  
.search-bar input{
    padding-left: 15px;
    padding-top: 0px;
    border: none;
    outline: none;
    width: 100%;
}

.search-bar .search-input img{
    padding-left: 15px;
    padding-top: 5px;
}

.search-map {
    padding-right: 15px;
}

#search-input {
    color: #B9B7B7;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* placeholder animation */
.search::-webkit-input-placeholder{
    transition: all 0.5s;
  }
  .search:focus::-webkit-input-placeholder{
    text-indent: -10px; opacity: 0;
  }


/* ------------------- 2. 카테고리  ----------------- */

.type{
    display: flex;
    align-items: center;
    justify-content: center;
}

.typelist{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-items: center;
    column-gap: 3px;
    list-style: none;
    overflow-x: auto;
}
.typelist::-webkit-scrollbar {
    display: none;
}

.typelist li{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 54px;
    height: 64px;
    border-radius: 8px;
    border: 1px solid var(--unnamed, #EEE);
    background-color: white;
    font-size: 1.3rem;
}

.typelist img{
    width: 29px;
}

.rankColor{
    color:#FFD700 !important;
}


/* ------------------- 3. 컨텐츠 ----------------- */

/* ------------------- 랭킹 ------------------ */

.ranking{
    display: flex;
    justify-content: center;
}

.ranking-wrap{
    width: 100%;
}

.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box button{
    background-color: transparent;
    border: none;
    font-weight: 300;
    font-size: 16px;
    color: #838383;
}

[name="slide"] {display: none;}
.slidebox{     
    max-width: 769px;
    width: 100%;
    margin: 0 auto;
}

.slidebox .slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: add .5s;
}

.slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.resImg{
    object-fit:cover;
    width: 335px;
    height: 184px;
    max-width: 100%;
    border-radius: 8px;
}

label.left{
    left: 0px;
    background-image: url('/images/icons/left버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}

label.right{
    right: 0px;
    background-image: url('/images/icons/right버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.imgTest {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%; 
}

.imgTest img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px
}

.textTest {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border: #ffffff  1px;
    border-style: dashed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textTest span{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textTest span:nth-child(1) {
    font-size: 2.5rem;
    font-weight:bolder;
    top: 25%;
}

.textTest span:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
    top: 48%;
}

.textTest span:nth-child(3) {
    font-size: 2rem;
    font-weight: bold;
    top: 63%;
}

.valueText{
    /* color:   #FFC0CB !important; */
    /* color:   #00FF00 !important; */
    color:   #ff8902 !important;
}


/* <클릭 슬라이드> */
/* <자동 슬라이드 20초 동안 무한> */
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0%); animation: slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%); animation: slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%); animation: slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%); animation: slide04 20s infinite;}
[id="slide05"]:checked ~ .slidelist .slideitem {transform:translateX(-400%); animation: slide05 20s infinite;}
[id="slide06"]:checked ~ .slidelist .slideitem {transform:translateX(-500%); animation: slide06 20s infinite;}

@keyframes slide01{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:-400%;}
    83% {left:-400%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide02{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:-400%;}
    83% {left:-400%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide03{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide04{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide05{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:400%;}
    49% {left:400%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide06{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:500%;}
    32% {left:500%;}
    34% {left:400%;}
    49% {left:400%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}


/* --------------- 나의 가성비 --------------- */

.comparison{
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparison-img {
    width: 100%;
    position: relative;
}

.comparison-img-content img{
    width: 100%;
    border-radius: 8px;
}

.comparison-text span {
    position: absolute;
}

.comparison-text span{
    color: white;
    left: 2rem;
}

.comparison-text span:nth-child(1) {
    font-size: 2.2rem;
    font-weight: bold;
    top: 65%;
}
  
.comparison-text span:nth-child(2) {
    font-size: 1.8rem;
    top: 78%;
}

/* -----------나의 가성비---------- */

.adBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.adBox-wrap{
    width: 100%;
    max-width: 769px;
}

.adBox h1{
    position: relative;
    padding-bottom: 20px;
    font-size: 1.5em;
}

.adBox img {
    width: 100%;
}







@media screen and (min-width:480px){
    html{
        font-size: 80%;
    }
}

@media screen and (min-width:768px){
    html{
        font-size: 100%;
    }
    .comparison, .ranking, .adBox {
        box-shadow: none;
    }
    .search-bar-container{
       width: 63%;
    }
}

@media screen and (min-width:1024px){

    .ad{
        position: relative;
    }

    .type, .comparison, .ranking, .adBox {
        box-shadow: none;
    }

    .ad-mobile, .ranking, .ranking input, .slidelist, .rateAd{
        display: none;
    }

    .ad-web, .ranking-web-container, .adBox-wrap a img:first-child, .adBox-wrap h1, .rateAd-web {
        display: block;
    }

/* ------------------- 메인 배너 ----------------- */
    .ad-web {
        position: relative;
        text-align: center;
    }

    .ad-web img {
        width: 100%;
        height: auto;
        display: block;
    }

    .ad-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ad-text p {
        color: #F5F5F7;
        font-family: Noto Sans;
        font-size: 34px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.5;
    }

/* ----------------- 검색창 ------------------- */
    .searchZone{
        position: initial;
        padding: 0;
        box-sizing: initial;
    }

    .search-bar {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 722px;
        height: 60px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        z-index: 999;
    }
    
    .search-bar input{
        padding-left: 15px;
        padding-top: 0px;
        border: none;
        outline: none;
        width: 100%;
    }

    .search-bar .search-input img{
        padding-left: 15px;
        padding-top: 5px;
    }

    .search-map {
        padding-right: 15px;
    }

    #search-input {
        font-size: 20px;
    }
 
/* ------------------- 카테고리 ----------------- */

    .type{
        width: 100%;
        background-color: white;
        padding: 0;
        margin-top: 25px;

    }

    .typelist{
        max-width: 900px;
        grid-template-columns: repeat(7, 1fr);
        overflow-x: hidden;
    }

    .typelist li{
        width: 100%;
        padding-right: 20px;
        border-radius: 0;
        border: 0;
    }

    .typelist li a{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .typelist li:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .typelist li img {
        float: left;
        padding: 15px 0;
        padding-right: 10px;
        width: 30px;
    }

    .category-all-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 104px;
        margin-right: 60px;
    }

    .category-all-wrapper img {
        float: left;
        padding-right: 10px;
        width: 20px;
    }

    .category-all-wrapper p{
        color: #797878;
        font-family: Noto Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

/* ------------------- 컨텐츠 ----------------- */

/* --------------- 랭킹 ------------ */

    .ranking-web-container{
        padding: 40px 200px 10px 200px;
        column-gap: 6px;
    }
    .ranking-web-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    .ranking-web-title button{
        background-color: transparent;
        border: none;
        font-weight: 300;
        font-size: 18px;
        color: #838383;
    }
    .ranking-web-wrap{
        display: flex;
        flex-wrap: wrap;
        column-gap: 6px;
        top: 50%;
    }
    .ranking-web-wrap img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .ranking-web-left{
        flex: 1;
    }
    .ranking-web-right{
        flex: 1.3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
    }

    .ranking-web-left img {
        width: 100%;
    }
    .ranking-web-right img {
        width: 100%;
    }
    .ranking-web-left{
        position: relative;
    }
    .ranking-text {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.4);
        border-style: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .ranking-text span{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ranking-text span:nth-child(1) {
        font-size: 2.5rem;
        font-weight:bolder;
        top: 25%;
    }
    
    .ranking-text span:nth-child(2) {
        font-size: 2rem;
        font-weight: bold;
        top: 48%;
    }
    
    .ranking-text span:nth-child(3) {
        font-size: 2rem;
        font-weight: bold;
        top: 63%;
    }

    .ranking-web-right{
        position: relative;
    }
    .ranking-text-right {
        position: absolute;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.4);
        border-style: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .ranking-text-right span{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .ranking-text-right span:nth-child(1) {
        font-size: 1.3rem;
        font-weight:bolder;
        top: 25%;
    }
    
    .ranking-text-right span:nth-child(2) {
        font-size: 1.2rem;
        font-weight: bold;
        top: 48%;
    }
    
    .ranking-text-right span:nth-child(3) {
        font-size: 1.2rem;
        font-weight: bold;
        top: 63%;
    }

/* --------------- 나의 가성비 --------------- */

    .comparison{
        padding: 70px 200px 10px 200px;
    }

    .comparison-img{
        max-width: 100%;
    }

    .comparison-img h1{
        font-size: 1.5em;
        padding-bottom: 15px;
    }

    .comparison-img-content {
        flex-wrap: wrap;
        top: 50%;
    }

    .comparison-img-content img{
        width: 100%;
        border-radius: 0;
    }

    .comparison-text span:nth-child(1) {
        font-size: 3rem;
        font-weight: bold;
        top: 65%;
    }
      
    .comparison-text span:nth-child(2) {
        font-size: 2.6rem;
        top: 78%;
    }

/* --------------- 광고 배너 --------------- */

    .adBox{
        padding: 70px 200px 10px 200px;
    }
    
    .adBox-wrap{
        max-width: 100%;
    }

}  /* 미디어 쿼리 */

footer {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h1 {
    font-size: 18px;
}

footer a {
    color: var(--sub-color) !important;
    text-decoration: underline;
}