@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
 margin: 0px;
 padding: 0px;
 font-family: var(--font);
 list-style: none;
}

.username {
    margin-left: 10px;
    font-size: 12px;
}

.userBtn img{
    min-width: 45px;
    grid-column: 3;
    justify-items: start;
    
}

.logo-img{
    grid-column: 2;
    width: 72px;
    height: 44px;
}

body{
    margin: 0;
    background-color: rgba(247, 247, 247, 1);
}

main{
    /* margin: 20px; */
    /* padding: 8px 20px 0px 20px; */
    width: 100%;
    box-sizing: border-box;
}



/* ---검색 바--- */
.searchZone{
    position: fixed;
    width: 100%;
    padding: 8px 10px;
    background-color: transparent;
    box-sizing: border-box;
    background: #FFFFFF;
}

.search-bar{
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    left: 20px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 999;
    display: flex;
}

.search-bar input{
    padding-left: 15px;
    padding-top: 0px;
    border: none;
    outline: none;
    width: 100%;
    /* box-sizing: border-box; */
    /* input:focus {outline:none;} */
}

.search-bar .search-input img{
    padding-left: 20px;
    padding-top: 5px;
}

.search-map {
    padding-right: 20px;
}

/* placeholder animation */
.search::-webkit-input-placeholder{
    transition: all 0.5s;
}
.search:focus::-webkit-input-placeholder{
    text-indent: -10px; opacity: 0;
}


/* <--- 메인 광고 ---> */
.ad {
    position: relative;
    overflow: hidden; /* 추가 */
}

.ad-web{
    display: none;
}

.ad-mobile{
    width: 100%;
    height: 168px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.ad-mobile img{
    margin-top: 55px;
}

/* <--- 카테고리 ---> */
.type{
    margin: 8px 0px 0px 0px;
    padding: 10px 0px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.typelist{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 3px;
    /* list-style: none; */
    overflow-x: scroll;
}




/* < --- 랭킹 탑 5 ---> */
.ranking{
    margin: 8px 0px 0px 0px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.title-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box button, .title-box h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
}

.title-box button{
    background-color: transparent;
    border: none;
    font-weight: 300;
    font-size: 16px;
    color: #838383;
}

.title-box h1{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


/*---------- 슬라이드 -----------*/


[name="slide"] {display: none;}
.slidebox{     
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.slidelist{
    white-space: nowrap;
    overflow: hidden;
}

.slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: add .5s;
}

.slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.resImg{
    object-fit:cover;
    width: 335px;
    height: 184px;
    max-width: 100%;
    border-radius: 8px;
}

label.left{
    left: 0px;
    background-image: url('/images/icons/left버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}

label.right{
    right: 0px;
    background-image: url('/images/icons/right버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}

.imgTest {
    position: relative;
}

.textTest {
    position: absolute;
    left: 65px;
    top: 30px;
    width:200px;
    height: 120px;
    display: flex;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border: #ffffff  1px;
    border-style: dashed ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textTest span{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textTest span:nth-child(1) {
    font-size: 24px;
    font-weight:bolder;
    top: 25%;
    right: 149px;
    
}

.textTest span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    top: 48%;
    right: 130px;
}

.textTest span:nth-child(3) {
    font-size: 20px;
    font-weight: bold;
    top: 63%;
    left: 119px;
}

.valueText{
    color: #FFE551 !important;
}


/* <클릭 슬라이드> */
/* <자동 슬라이드 20초 동안 무한> */
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0%); animation: slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%); animation: slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%); animation: slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%); animation: slide04 20s infinite;}
[id="slide05"]:checked ~ .slidelist .slideitem {transform:translateX(-400%); animation: slide05 20s infinite;}
[id="slide06"]:checked ~ .slidelist .slideitem {transform:translateX(-500%); animation: slide06 20s infinite;}


@keyframes slide01{
    0%, 15% {left: 0%;}
    17%, 32% {left: -100%;}
    34%, 49% {left: -200%;}
    51%, 66% {left: -300%;}
    68%, 83% {left: -400%;}
    85%, 98% {left: -500%;}
    100% {left: 0%;}
}

@keyframes slide02{
    0%, 15% {left: 0%;}
    17%, 32% {left: -100%;}
    34%, 49% {left: -200%;}
    51%, 66% {left: -300%;}
    68%, 83% {left: -400%;}
    85%, 98% {left: -500%;}
    100% {left: 0%;}
}

@keyframes slide03{
    0%, 15% {left: 0%;}
    17%, 32% {left: -100%;}
    34%, 49% {left: -200%;}
    51%, 66% {left: -300%;}
    68%, 83% {left: -400%;}
    85%, 98% {left: -500%;}
    100% {left: 0%;}
}

@keyframes slide04{
    0%, 15% {left: 0%;}
    17%, 32% {left: -100%;}
    34%, 49% {left: -200%;}
    51%, 66% {left: -300%;}
    68%, 83% {left: -400%;}
    85%, 98% {left: -500%;}
    100% {left: 0%;}
}

@keyframes slide05{
    0%, 15% {left: 0%;}
    17%, 32% {left: -100%;}
    34%, 49% {left: -200%;}
    51%, 66% {left: -300%;}
    68%, 83% {left: -400%;}
    85%, 98% {left: -500%;}
    100% {left: 0%;}
}

@keyframes slide06{
    0%, 15% {left: 0%;}
    17%, 32% {left: -100%;}
    34%, 49% {left: -200%;}
    51%, 66% {left: -300%;}
    68%, 83% {left: -400%;}
    85%, 98% {left: -500%;}
    100% {left: 0%;}
}



/* ㅡㅡㅡ 성과비교 ㅡㅡㅡ */
.comparison{
    margin: 8px 0px 0px 0px;
    /* padding: 10px 20px; */
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    /* height: 214px; */
    height: 214px;
}

.comparison h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR vum';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.comparison1{
    margin: 8px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    height: 214px;
}

.comparison1 h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}



/* <ㅡㅡㅡ 성과 비교 ㅡㅡㅡ> */
.comparison-img {
    position: relative;
}
  
  
.comparison-text span {
    position: absolute;
}

.comparison-text span{
    color: white;
    left: 10px;
}

.comparison-text span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    top: 125px;
}
  
.comparison-text span:nth-child(2) {
    font-size: 15px;
    top: 155px;
}





/* <ㅡㅡㅡ 하단 배너광고 ㅡㅡㅡ> */
.adBox{
    margin: 8px 0px 0px 0px;
}


/* .comparison img{ */
    /* height: 100%; */
    /* width: 335px;
    height: 184px; */
/* } */

/* .rateAd{ */
    /* margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px; */
    /* padding: 10px 20px 15px 20px; */
    /* background-color: white; */
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); */
    /* height: 214px; */
/* } */

.category-title{
    display: none;
}

