@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
 margin: 0px;
 padding: 0px;
 font-family: var(--font);
 list-style: none;
}

.username {
    margin-left: 10px;
    font-size: 12px;
}

.userBtn img{
    min-width: 45px;
    grid-column: 3;
    justify-items: start;
    
}

.userBtn-img{
    /* position: absolute; */
    /* background-image: url(/images/icons/마이페이지버튼.png); */
    /* padding-left: 10px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

    width: 22px;
    height: 24px;

    overflow: hidden;
}

/* .logo{
    grid-row: 1;
    grid-column: 2; 
    justify-self: center;
} */

.logo-img{
    grid-column: 2;
    width: 72px;
    height: 44px;
}

body{
    margin: 0;
    background-color: rgba(247, 247, 247, 1);
}

main{
    /* margin: 20px; */
    /* padding: 8px 20px 0px 20px; */
    width: 100%;
    box-sizing: border-box;
}



/* ---검색 바--- */
.search-bar{
    display: flex;
    align-items: center;

    box-sizing: border-box;
    position: absolute;
    width: 335px;
    height: 38px;
    left: 20px;
    top: 70px;

    background: #FFFFFF;
    /* border: 1px solid #F7BB0A; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 999;
    /* display: flex; */
    position: fixed;
}

.search-bar input{
    padding-left: 15px;
    padding-top: 0px;
    border: none;
    outline: none;
    width: 100%;
    /* box-sizing: border-box; */
    /* input:focus {outline:none;} */

    /* size: ; */
}

.search-bar .search-input img{
    padding-left: 15px;
    padding-top: 5px;
}

.search-map {
    padding-right: 15px;
}


/* <--- 메인 광고 ---> */
.ad{
    /* position: absolute; */
    width: 100%;
    height: 168px;
    /* left: 20px; */
    /* top: 144px; */
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}


/* <--- 카테고리 ---> */
.type{
    margin: 8px 0px 0px 0px;
    padding: 10px 0px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.typelist{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 3px;
    list-style: none;
    overflow-x: scroll;
}




/* < --- 랭킹 탑 5 ---> */
.ranking{
    margin: 8px 0px 0px 0px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.ranking h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}


[name="slide"] {display: none;}
.slidebox{     
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.slidebox img {max-width: 100%;}

.slidebox .slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slidebox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: add .5s;
}

.slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label.left{
    left: 0px;
    /* background-color: red; */
    background-image: url('/images/icons/left버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}

label.right{
    right: 0px;
    /* background-color: red; */
    background-image: url('/images/icons/right버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}



/* <클릭 슬라이드> */
/* <자동 슬라이드 20초 동안 무한> */
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0%); animation: slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%); animation: slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%); animation: slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%); animation: slide04 20s infinite;}
[id="slide05"]:checked ~ .slidelist .slideitem {transform:translateX(-400%); animation: slide05 20s infinite;}
[id="slide06"]:checked ~ .slidelist .slideitem {transform:translateX(-500%); animation: slide06 20s infinite;}




@keyframes slide01{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:-400%;}
    83% {left:-400%;}
    85% {left:-500%;}
    98% {left:-500%;}
    100% {left:0%;}
}

@keyframes slide02{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:-400%;}
    83% {left:-400%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide03{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide04{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide05{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:400%;}
    49% {left:400%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide06{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:500%;}
    32% {left:500%;}
    34% {left:400%;}
    49% {left:400%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}


/* <ㅡㅡㅡ 한식 텍스트 ㅡㅡㅡ> */
.imgTest1 {
    position: relative;
}

.textTest1 span{
    position: absolute;
    color: white;
    right: 50px;
}

.textTest1 span:nth-child(1) {
    font-size: 24px;
    font-weight:bolder;
    top: 25%;
    right: 149px;

}
  
.textTest1 span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    top: 48%;
    right: 130px;
}

.textTest1 span:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    color: rgba(185, 183, 183, 1);
    top: 63%;
    left: 119px;
}


/* <ㅡㅡㅡ 분식 텍스트 ㅡㅡㅡ> */
.imgTest2 {
    position: relative;
}

.textTest2 span{
    position: absolute;
    color: white;
    right: 50px;
}

.textTest2 span:nth-child(1) {
    font-size: 24px;
    font-weight:bolder;
    top: 25%;
    right: 149px;
}
  
.textTest2 span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    top: 48%;
    /* right: 140px; */
    right: 42%;
}

.textTest2 span:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    color: rgba(185, 183, 183, 1);
    top: 63%;
    left: 119px;
}




/* <ㅡㅡㅡ 일식 텍스트 ㅡㅡㅡ> */
.imgTest3 {
    position: relative;
}

.textTest3 span{
    position: absolute;
    color: white;
    right: 50px;
}

.textTest3 span:nth-child(1) {
    font-size: 24px;
    font-weight:bolder;
    top: 25%;
    right: 149px;
}
  
.textTest3 span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    top: 48%;
    right: 130px;
}

.textTest3 span:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    color: rgba(185, 183, 183, 1);
    top: 63%;
    left: 119px;
}

/* <ㅡㅡㅡ 양식 텍스트 ㅡㅡㅡ> */
.imgTest4 {
    position: relative;
}

.textTest4 span{
    position: absolute;
    color: white;
    right: 50px;
}

.textTest4 span:nth-child(1) {
    font-size: 24px;
    font-weight:bolder;
    top: 25%;
    right: 149px;
}
  
.textTest4 span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    top: 48%;
    right: 130px;
}

.textTest4 span:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    color: rgba(185, 183, 183, 1);
    top: 63%;
    left: 119px;
}

/* <ㅡㅡㅡ 중식 텍스트 ㅡㅡㅡ> */
.imgTest5 {
    position: relative;
}

.textTest5 span{
    position: absolute;
    color: white;
    right: 50px;
}

.textTest5 span:nth-child(1) {
    font-size: 24px;
    font-weight:bolder;
    top: 25%;
    right: 149px;
}
  
.textTest5 span:nth-child(2) {
    font-size: 20px;
    font-weight: bold;
    top: 48%;
    right: 130px;
}

.textTest5 span:nth-child(3) {
    font-size: 16px;
    font-weight: bold;
    color: rgba(185, 183, 183, 1);
    top: 63%;
    left: 119px;
}

/* <ㅡㅡㅡ 랭킹 보기 텍스트 ㅡㅡㅡ> */
.imgTest1 {
    position: relative;
}

.textTest6 span{
    position: absolute;
    color: white;
    right: 50px;
}

.textTest6 span:nth-child(1) {
    font-size: 34px;
    font-weight:bolder;
    top: 115px;
    right: 150px;
}
  
.textTest6 span:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
    left: 150px;
    top: 120px;
}

.textTest6 span:nth-child(3) {
    font-size: 18px;
    font-weight: bold;
    left: 150px;
    top: 140px;
}





/* ㅡㅡㅡ 성과비교 ㅡㅡㅡ */
.comparison{
    margin: 8px 0px 0px 0px;
    /* padding: 10px 20px; */
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    /* height: 214px; */
    height: 214px;
}

.comparison h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.comparison1{
    margin: 8px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    height: 214px;
}

.comparison1 h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}



/* <ㅡㅡㅡ 성과 비교 ㅡㅡㅡ> */
.comparison-img {
    position: relative;
}
  
  
.comparison-text span {
    position: absolute;
}

.comparison-text span{
    color: white;
    left: 10px;
}

.comparison-text span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    top: 125px;
}
  
.comparison-text span:nth-child(2) {
    font-size: 15px;
    top: 155px;
}





/* <ㅡㅡㅡ 하단 배너광고 ㅡㅡㅡ> */
.adBox{
    margin: 8px 0px 0px 0px;
}


/* .comparison img{ */
    /* height: 100%; */
    /* width: 335px;
    height: 184px; */
/* } */

/* .rateAd{ */
    /* margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px; */
    /* padding: 10px 20px 15px 20px; */
    /* background-color: white; */
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); */
    /* height: 214px; */
/* } */

.category-title{
    display: none;
}


@media (min-width: 376px) {

    .ad {

        display: none;
    }
}

@media only screen and (min-width: 769px) {

    .search-bar{
        display: flex;
        align-items: center;

        box-sizing: border-box;
        position: fixed;

        width: 100%;
        max-width: 730px;
        height: 55px;
        left: 50%;
        transform:translateX(-50%);
        top: 280px;

        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        z-index: 1599;
    }

    .type{
        width: 100%;
        box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
        margin: 0;
        padding: 0;
    }

    .typelist {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 3px;
        list-style: none;
        overflow: hidden;
        justify-items: center;
        width: 100%;

    }

    .category-title{

        display: block;
        margin-top:38px;
        font-size: 24px;
        padding-left: 30px;
        background-color: white;
    }

    header {
        height: 300px;
        width: 100%;
        background-image: url(/images/foods/main.svg);
        /*background-color: transparent;*/
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 80;
    }


}