@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
 margin: 0px;
 padding: 0px;
 font-family: var(--font);
 list-style: none;
}

.username {
    margin-left: 10px;
    font-size: 12px;
}

.userBtn img{
    min-width: 45px;
    grid-column: 3;
    justify-items: start;
    
}

.userBtn-img{
    /* position: absolute; */
    /* background-image: url(/images/icons/마이페이지버튼.png); */
    /* padding-left: 10px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

    width: 22px;
    height: 24px;

    overflow: hidden;
}

/* .logo{
    grid-row: 1;
    grid-column: 2; 
    justify-self: center;
} */

.logo-img{
    grid-column: 2;
    width: 72px;
    height: 44px;
}

body{
    margin: 0;
    background-color: rgba(247, 247, 247, 1);
}

main{
    width: 100%;
    box-sizing: border-box;
}


/* <--- 메인 광고 ---> */

.ad {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.ad-web{
    display: none;
}

.ad-mobile{
    width: 100%;
}

.ad-mobile img{
    width: 100%;
    height: auto;
}


/* ---검색 바--- */
.search-bar{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 86%;
    height: 18%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 999;
}

.search-bar input{
    padding-left: 15px;
    padding-top: 0px;
    border: none;
    outline: none;
    width: 100%;
    font-size:2.8vmin;
}

.search-bar .search-input img{
    padding-left: 15px;
    padding-top: 5px;
}

.search-map {
    padding-right: 15px;
}


/* <--- 카테고리 ---> */
.type{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-all-wrapper{
    display: none;
}

.typelist{
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3px;
    list-style: none;
    overflow-x: auto;
}
.typelist::-webkit-scrollbar {
    display: none;
}

.typelist li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    border-radius: 8px;
    border: 1px solid var(--unnamed, #EEE);
    background-color: white;
}

.typelist img{
    width: 29px;
}


/* < --- 랭킹 탑 5 ---> */
.ranking-web-container{
    display: none;
}

.ranking{
    margin: 8px 0px 0px 0px;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.ranking h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}


[name="slide"] {display: none;}
.slidebox{     
    width: 100%;
    margin: 0 auto;
}

.slidebox {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.slidebox img {
    max-width: 100%;
    height: auto;
}

.slidebox .slidelist{
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    border-radius: 8px;
}

.slidebox .slideitem{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: add .5s;
}

.slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label.left{
    left: 0px;
    background-image: url('/images/icons/left버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}

label.right{
    right: 0px;
    background-image: url('/images/icons/right버튼.svg');
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
}


/* <클릭 슬라이드> */
/* <자동 슬라이드 20초 동안 무한> */
/* [id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0%); animation: slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%); animation: slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%); animation: slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%); animation: slide04 20s infinite;}
[id="slide05"]:checked ~ .slidelist .slideitem {transform:translateX(-400%); animation: slide05 20s infinite;}
[id="slide06"]:checked ~ .slidelist .slideitem {transform:translateX(-500%); animation: slide06 20s infinite;} */


/* @keyframes slide01{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:-400%;}
    83% {left:-400%;}
    85% {left:-500%;}
    98% {left:-500%;}
    100% {left:0%;}
}

@keyframes slide02{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:-400%;}
    83% {left:-400%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide03{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:-300%;}
    66% {left:-300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide04{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:-200%;}
    49% {left:-200%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide05{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:-100%;}
    32% {left:-100%;}
    34% {left:400%;}
    49% {left:400%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

@keyframes slide06{
    0% {left:0%;}
    15% {left:0%;}
    17% {left:500%;}
    32% {left:500%;}
    34% {left:400%;}
    49% {left:400%;}
    51% {left:300%;}
    66% {left:300%;}
    68% {left:200%;}
    83% {left:200%;}
    85% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
} */

.slidebox .slideitem .imgTest1,
.slidebox .slideitem .imgTest2,
.slidebox .slideitem .imgTest3,
.slidebox .slideitem .imgTest4,
.slidebox .slideitem .imgTest5,
.slidebox .slideitem .imgTest6 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%; /* Set the aspect ratio */
}

.slidebox .slideitem .imgTest1 img,
.slidebox .slideitem .imgTest2 img,
.slidebox .slideitem .imgTest3 img,
.slidebox .slideitem .imgTest4 img,
.slidebox .slideitem .imgTest5 img,
.slidebox .slideitem .imgTest6 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slidebox .slideitem .textTest1,
.slidebox .slideitem .textTest2,
.slidebox .slideitem .textTest3,
.slidebox .slideitem .textTest4,
.slidebox .slideitem .textTest5,
.slidebox .slideitem .textTest6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 16px;
}

.slidebox .slideitem .textTest1 span:nth-child(1),
.slidebox .slideitem .textTest2 span:nth-child(1),
.slidebox .slideitem .textTest3 span:nth-child(1),
.slidebox .slideitem .textTest4 span:nth-child(1),
.slidebox .slideitem .textTest5 span:nth-child(1),
.slidebox .slideitem .textTest6 span:nth-child(1) {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.slidebox .slideitem .textTest1 span:nth-child(2),
.slidebox .slideitem .textTest2 span:nth-child(2),
.slidebox .slideitem .textTest3 span:nth-child(2),
.slidebox .slideitem .textTest4 span:nth-child(2),
.slidebox .slideitem .textTest5 span:nth-child(2),
.slidebox .slideitem .textTest6 span:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}

.slidebox .slideitem .textTest1 span:nth-child(3),
.slidebox .slideitem .textTest2 span:nth-child(3),
.slidebox .slideitem .textTest3 span:nth-child(3),
.slidebox .slideitem .textTest4 span:nth-child(3),
.slidebox .slideitem .textTest5 span:nth-child(3),
.slidebox .slideitem .textTest6 span:nth-child(3) {
  font-size: 16px;
  font-weight: bold;
  color: rgba(185, 183, 183, 1);
}





/* ㅡㅡㅡ 성과비교 ㅡㅡㅡ */
.comparison{
    margin: 8px 0px 0px 0px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    height: 214px;
}

.comparison h1{
    padding: 0px 0px 5px 0px;
    font-family: 'Noto Sans CJK KR Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.comparison-img-content-web{
    display: none;
}

/* <ㅡㅡㅡ 성과 비교 ㅡㅡㅡ> */
.comparison-img {
    position: relative;
}
  
.comparison-text span {
    position: absolute;
}

.comparison-text span{
    color: white;
    left: 10px;
}

.comparison-text span:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    top: 125px;
}
  
.comparison-text span:nth-child(2) {
    font-size: 15px;
    top: 155px;
}





/* <ㅡㅡㅡ 하단 배너광고 ㅡㅡㅡ> */
.adBox a img:first-child{
    display: none;
}


.adBox{
    margin: 8px 0px 0px 0px;
}


/* .comparison img{ */
    /* height: 100%; */
    /* width: 335px;
    height: 184px; */
/* } */

/* .rateAd{ */
    /* margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px; */
    /* padding: 10px 20px 15px 20px; */
    /* background-color: white; */
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); */
    /* height: 214px; */
/* } */


@media only screen and (min-width:769px) {



.ad-mobile, .typelist, .slidebox{
    width: 769px;
}

.search-bar{
    width: 654px;
}
}


/* -------------------------------------------- */
@media screen and (min-width:1024px) {
/* ------------------- 메인 배너 ----------------- */

    .adBox{
        background-color: white;
        padding: 40px 200px;
    }
    
    .adBox a img:nth-child(2),
    .adBox a img:nth-child(3){
        display: none;
    }
    
    .adBox a img:first-child{
        display: block;
    }

    .adBox h1{
        position: relative;
        padding-bottom: 20px;
        font-size: 1.5em;
    }
    
    .adBox img {
        width: 100%;
    }

    .comparison-img-content-web{
        display: block;
    }

    .comparison{
        /* width: 100%; */
        position: relative;
        padding: 70px 200px;
    }
    
    .comparison h1{
        padding-bottom: 20px;
    }
    
    .comparison-img {
        width: 100%;
    }
    
    .comparison-img-content{
        display: none;
    }
    
    .comparison-img img{
        width: 100%;
    }
    
    .comparison-text{
        position: absolute;
        top: 55%;
        left: 37%;
        transform: translate(-50%, -50%);
    }
    
    .comparison-text p:first-child{
        color: #FFF;
        font-family: Noto Sans;
        font-size: 25px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    .comparison-text p:last-child {
        color: #FFF;
        font-family: Noto Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

body{
    margin: 0;
    background-color:white;
}

.ad{
    width: 100%;
}

.ranking, .slidelist{
    display: none;
    box-shadow: none;
}
.ad-mobile{
    display: none;
}

.ad-web {
    display: block;
    position: relative;
    text-align: center;
}

.ad-web img {
    width: 100%;
    height: auto;
}

.ad-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ad-text p {
    color: #F5F5F7;
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.5;
}


/* ----------------- 검색창 ------------------- */

.search-bar {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 722px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    z-index: 999;
}
  
.search-bar input{
    padding-left: 15px;
    padding-top: 0px;
    border: none;
    outline: none;
    width: 100%;
}

.search-bar .search-input img{
    padding-left: 15px;
    padding-top: 5px;
}

.search-map {
    padding-right: 15px;
}

#search-input {
    color: #B9B7B7;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* 카테고리 */

.type{
    width: 100%;
    background-color: white;
    display: block;
}

.typelist{
    padding: 0 230px;
    grid-template-columns: repeat(7, 1fr);
    overflow-x: hidden;
}

.typelist li{
    width: 72px;
    padding-right: 20px;
    border-radius: 0;
    border: 0;
}

.typelist li a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.typelist li:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.typelist li img {
    float: left;
    padding: 15px 0;
    padding-right: 10px;
    width: 30px;
}

.category-all-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    margin-right: 60px;
}

.category-all-wrapper img {
    float: left;
    padding-right: 10px;
    width: 20px;
}

.category-all-wrapper p{
    color: #797878;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}

/* 랭킹 */

.ranking-web-container{
    display: block;
    padding: 70px 200px 10px 200px;
    column-gap: 6px;
    background-color: white;
}
.ranking-web-container h1{
    padding-bottom: 20px;
}
.ranking-web-wrap{
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
}
.ranking-web-left{
    flex: 1;
}
.ranking-web-right{
    flex: 1.3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
}
.ranking-web-left img {
    width: 100%;
    /* height: auto; */
}
.ranking-web-right img {
    width: 100%;
    /* height: auto; */
}

.comparison{
    box-shadow: none;
}

}