.button {
    /* layout */
    width: 100%;
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
}

.button-1 {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: var(--btn-color-2);

    cursor: not-allowed;

    transition: 0.5s;
}
.button-1.active {
    cursor: pointer;
    background-color: var(--sub-color);
}
.button-1.active:hover{
    filter: brightness(0.8);
}

.button-2 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--box-color);
}
.button-3 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--main-color);
}
.button-4 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--main-color);
    height: 52px;
}
.button-5 {
    font-size: 18px;
    font-weight: bold;
    background-color: var(--box-color);
    height: 52px;
}
.button-6 {
    font-size: 14px;
    text-align: center;
    background-color: var(--box-color);
    border-radius: var(--border-radius);

    /* layout */
    line-height: 30px;
}
.button-7 {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    background-color: var(--main-color);
}
.button-8 {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    color: #F00;
    background-color: #FFE8E8;
    border: 1.5px solid #F00;
}
.button-8:hover{
    filter: brightness(0.8);
}
.button-9 {
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    background-color: var(--box-color);
}
.button-9:hover {
    filter: brightness(0.8);
}
.button-10 {
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #75757525;
    
    width: 80px;
}
.button-10:hover {
    /* box-shadow: var(--btn-shadow-2); */
}
.button-11 {
    font-size: 16px;
    background-color: var(--box-color);
    width: 70px;
    height: 28px;
}
.button-12 {
    font-size: 16px;
    background-color: var(--box-color);
}