header {
    height: 90px;
    width: 100%;
    padding: 0 20px;
    background-color: var(--main-color);

    /* layout */
    position: sticky;
    z-index: 1200;
    top: 0;

    /* items layout */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 20px;
}

.header-side {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-side.left {
    justify-content: start;
}

.header-side.right {
    justify-content: end;
}

.header-icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;

    /* layout */
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -999px;
}

/* ----- logo ----- */
.logo-container{
    position: relative;
    width: 104px;
    height: 100%;
    overflow: hidden;
    
}

.header-icon.hoverimg,
.header-icon.logo {
    transition: transform 0.5s;
    background-size: contain;
}

.header-icon.logo{
    position: absolute;
    background-image: url(/images/assets/logo2.svg);
    width: 82px;
    height: 54px;
    left: 10%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}

.header-icon.hoverimg{
    position: absolute;
    background-image: url(/images/assets/logoBack5.svg);
    width: 104px;
    height: 95px;
    z-index: -1;
}

.header-icon.hoverimg {
    transform: translateY(115%);
}
  
.logo-container:hover .header-icon.hoverimg {
    transform: translateY(2%);
}
/* ---------------------------------------- */


 /* 돌아가기 버튼 이미지  */
.header-icon.back {
    background-image: url(/images/icons/back.svg);
    width: 13px;
    height: 21px;
}


.header-icon.home {
    background-image: url(/images/icons/home.svg);
    width: 19px;
    height: 21px;
}


.header-icon.menu {
    background-image: url(/images/icons/menu.svg);
    width: 22px;
    height: 20px;
}


.header-icon.cancle {
    background-image: url(/images/icons/cancel.svg);
    width: 20px;
    height: 20px;
}


.header-icon.search {
    background-image: url(/images/icons/icon-search.svg);
    width: 21px;
    height: 21px;
}

/* ------------------------------------- */
@media (min-width: 769px) {
    .header-side {
      width: auto; /* 너비를 자동으로 설정하여 컨테이너 크기를 조정합니다. */
    }
  
    .header-icon {
      margin: 0 8px; /* 좌우 여백을 조정합니다. */
    }
  }
  
@media screen and (min-width:1024px) {
    header {
        width: 100%;
        height: 45px;
    }
    
    .header-side {
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .header-side.left{
        display: none;
    }
    .header-side.right{
        justify-content: flex-end;
        flex: 1;
    }
    
    .header-icon.menu {
        background-image: url(/images/icons/web-user.svg);
        width: 20px;
        height: 20px;
    }
}