:root {
    --btn-height: 46px;
}

.screen {
    position: fixed;
    z-index: 1300;

    background-color: var(--modal-screen-color);

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-panel {
    border-radius: 8px;
    background-color: white;

    overflow: hidden;
    
    min-width: 310px;
    min-height: 100px;

    transition: 0.5s;
    opacity: 0;
    transform: translateY(100px);
}

.modal-panel.show {
    opacity: 1;
    transform: translateY(0);
}

.message-wrap {
    /* padding: 30px; */
    padding: 20px 30px 15px 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-complete {
    background-image: url("/images/icons/check.svg");
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 50px;
    height: 50px;
}

.text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-wrap p:first-child{
    font-weight: bold;
    font-size: 18px;
    margin: 15px;
}
.text-wrap p:last-child{
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.btn-wrap{
    background-color: var(--sub-color);

    height: var(--btn-height);
}

.btn-wrap a{
    display: block;

    text-align: center;
    line-height: var(--btn-height);
    color: white;
    font-size: 18px;
    font-weight: bold;

    width: 100%;
    height: 100%;
}