@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html, body, input, button, select, option {
    margin: 0;
    color: var(--font-color);
    font-family: var(--font);
}
a{ /* 하이퍼링크 스타일 */
    text-decoration: none;
    color: var(--font-color);
}
a:visited{ /* 방문한 하이퍼링크 색상 변화 해제 */
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
main{
    max-width: 1200px;
}
.d-none{
    display: none !important;
}
.text-hidden{
    text-indent: -999px;
    overflow: hidden;
}

:root {
    /* 폰트 */
    --font: 'Noto Sans KR';

    /* ------------------ 색상 ------------------ */
    /* 메인 색상 */
    --main-color: #FFE551;
    /* 서브 색상 */
    --sub-color: #2292F9;
    /* 페이지 배경색 */
    --background-color: #F5F5F7;
    /* 폰트 기본 색상 */
    --font-color: #282828;
    /* 힌트 색상 */
    --hint-color: #9D9999;
    /* input 박스 배경색 */
    --box-color: #EEE;
    /* #EEE 버튼 "클릭" 배경색 */
    --btn-color1: #BDBDBD;
    /* sub-color 버튼 비활성 색 */
    --btn-color-2: #a6d5ff;
    /* 아이콘 색상 */
    --icon-color: #6D6D6D;

    /* --------------- 효과 --------------- */
    /* 블럭 그림자 */
    --block-shadow: 0px 1px 4px 0px #0002;
    /* 버튼 그림자 -1 */
    --btn-shadow-1: 2px 2px 4px rgba(0, 0, 0, 0.25);
    /* 버튼 그림자 -2 */
    --btn-shadow-2: 0px 2px 5px 0px #00000016;
    /* 버튼 그림자 -3 */
    --btn-shadow-3: 0px 0px 5px 0px #75757525;
    /* 버튼 그림자 -4 */
    --btn-shadow-4: 0px 0px 10px 3px #75757525;
    /* 공통 곡률 */
    --border-radius: 8px;
    /* 아래 테두리 */
    --border-bottom: 1px solid #0001;



    /* =============== 상민 ================== */
    
    /* --------------- 레이아웃 --------------- */
    /* 블럭 간 간격 (블럭 margin-top) */
    --block-space: 8px;
    /* 컨텐츠 간 간격 (컨텐츠 margin-top) */
    --contents-space: 20px;
    /* 컨텐트 상하 마진 */
    --content-margin: 5px 0px;
}

