/* ---------전체 ----------*/
body {
  margin: 0;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}

main {
  padding: 0 20px;
}

/* ========메인========== */

.imageP {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40%;
  background-image: url("../images/icons/com.png");
  width: 156px;
  height: 178px;
  margin-top: 116px;
  margin-bottom: 116px;
}

.next {
  position: absolute;
}

.btn {
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 335px;
  height: 42px;
  background-color: var(--sub-color);
  border: none;
  font-weight: 900;
  border-radius: var(--border-radius);
}
