<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mechoori.web.repository.CategoryRepository">
	<select id="findAll" resultType="Category">
		select * 
		from category
	</select>
	<select id="findById" resultType="Category">
		select *
		from category
		where id = #{categoryId}
	</select>
	<insert id="save" parameterType="Category">
		insert into category(type, image)
		values(#{name}, #{image})
	</insert>
	<delete id="delete" parameterType="java.util.List">
		delete from category
		where id in
		<foreach item="id" collection="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>