<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mechoori.web.repository.CategoryRepository">
	<select id="findAllTopCategory" resultType="TopCategory">
		select * 
		from top_category
	</select>
	<select id="findTopCategoryById" resultType="TopCategory">
		select *
		from top_category
		where id = #{categoryId}
	</select>
	<insert id="saveTopCategory" parameterType="TopCategory">
		insert into top_category(name, image)
		values(#{name}, #{image})
	</insert>
	<update id="updateTopCategory" parameterType="TopCategory">
		UPDATE top_category
		set
		name = #{name},
		image = #{image}
		WHERE id = #{id}
	</update>
	<delete id="deleteTopCategory" parameterType="java.util.List">
		delete from top_category
		where id in
		<foreach item="id" collection="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<select id="findAll" resultType="Category">
		select * 
		from category
	</select>
	<select id="findAllMainCategory" resultType="Category">
		select * 
		from category
		where top_category_id != 6
	</select>
	<select id="findAllOtherCategory" resultType="Category">
		select * 
		from category
		where top_category_id = 6
	</select>

</mapper>