<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mechoori.web.repository.RateRepository">
	
	<insert id="add" parameterType="Rate">
		insert into 
        rate(member_id, menu_id, price, review)
		values(#{memberId}, #{menuId}, #{price}, #{review})
	</insert>
    <select id="findByMenuIds" parameterType="java.util.List" resultType="Rate">
        SELECT *
        FROM rate
        WHERE menu_id IN
        <foreach item="menuId" collection="list" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </select>

    <select id="getList" parameterType="Rate">
        select * from rate
        where member_id =#{memberId}
    </select>




	
</mapper>