<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mechoori.web.repository.SignUpRepository">
    <select id="checkNickName" resultType="String">
        select nickname from member where nickname = #{nickname}
    </select>
</mapper>
